extends layout

block content
  h1= title

  style.
    .imagemap {
      position: relative; 
      display: inline-block; 
      width: 100%; 
      height: auto;
    }
    .imagemap img {
      display: block; 
      width: 25%; 
      height: auto;
    }
    .svg-overlay {
      position: absolute; 
      top: 0; 
      left: 0; 
      width: 110%; 
      height: 100%; 
      pointer-events: none;
    }
    .area {
      stroke-width: 1; 
      pointer-events: all; 
      transition: fill 0.15s ease-in-out, stroke 0.15s ease-in-out;
    }
    .hide{
      display: none;
    }

  //Fill in the src for the state svg
  img(src="https://upload.wikimedia.org/wikipedia/commons/7/71/Alabama_counties.svg" alt="Map" usemap="#image-map" width="400" height="300")

  //Replace id with state map id and fill in the areas as children of the map
  div(class ="imagemap")
    map(name="image-map" id="alMap")
      <area shape="poly" coords="296,0,1213,14,1208,227,1150,261,1163,286,1146,293,1108,266,1088,238,1061,233,1016,238,962,224,938,216,931,202,868,216,863,230,757,265,730,292,698,305,670,308,627,298,613,275,561,228,537,158,452,115,410,124,367,113,335,75"  nohref="nohref" title="Lauderdale" id="Lauderdale"/>
      <area shape="poly" coords="1213,13,1604,22,1595,517,1547,512,1531,497,1472,478,1377,406,1356,407,1284,349,1278,329,1233,294,1215,294,1198,278,1163,287,1150,261,1208,227"  nohref="nohref" title="Limestone" id="Limestone"/>
      <area shape="poly" coords="1603,21,2035,21,2035,41,2082,78,2082,101,2068,107,2047,81,2019,87,2033,116,2011,135,1997,156,2016,210,2003,228,2011,258,2010,290,1993,309,1990,430,2038,466,2040,488,2012,494,2043,505,2036,530,2013,563,1996,550,1958,550,1962,572,1943,581,1932,600,1909,593,1857,594,1826,573,1816,531,1810,495,1785,477,1745,498,1732,519,1705,515,1697,487,1672,476,1636,506,1598,517"  nohref="nohref" title="Madison" id="Madison"/>
      <area shape="poly" coords="2037,22,2682,29,2706,168,2658,203,2653,241,2628,292,2601,299,2518,436,2367,550,2360,577,2244,610,2227,562,2230,546,2190,545,2185,464,2022,460,1994,428,1992,310,2010,286,2002,230,2019,210,1998,156,2032,117,2021,85,2053,83,2075,106,2082,101,2082,77,2034,47"  nohref="nohref" title="Jackson" id="Jackson"/>
      <area shape="poly" coords="2707,169,2773,535,2710,586,2704,645,2656,721,2629,725,2622,745,2534,837,2497,841,2498,855,2468,856,2467,900,2226,903,2222,653,2269,602,2364,575,2364,548,2522,429,2601,300,2632,293,2655,239,2657,203"  nohref="nohref" title="DeKalb" id="DeKalb"/>
      <area shape="poly" coords="2183,463,2189,547,2228,547,2242,609,2269,603,2223,654,2226,917,2147,922,2043,1012,1909,848,1881,793,1787,787,1784,716,1817,525,1829,574,1859,595,1932,594,1964,568,1960,552,1997,550,2014,562,2045,502,2016,490,2046,488,2025,461"  nohref="nohref" title="Marshall" id="Marshall"/>
      <area shape="poly" coords="1788,480,1812,500,1815,531,1784,714,1787,794,1300,780,1308,367,1363,408,1373,404,1478,480,1536,497,1551,515,1636,513,1675,472,1697,484,1704,516,1734,519,1749,494"  nohref="nohref" title="Morgan" id="Morgan"/>
      <area shape="poly" coords="1304,369,1282,350,1279,323,1234,296,1219,297,1202,282,1134,292,1080,234,1010,242,1005,266,1020,271,1013,338,985,356,996,399,965,402,959,422,941,440,919,498,916,785,1300,797"  nohref="nohref" title="Lawrence" id="Lawrence"/>
      <area shape="poly" coords="1011,240,1008,266,1021,271,1011,341,983,357,993,397,967,401,959,424,944,441,920,492,354,474,397,120,416,127,452,114,539,156,567,236,616,277,625,301,708,307,736,288,758,263,867,233,869,218,931,201,936,215"  nohref="nohref" title="Colbert" id="Colbert"/>
      <area shape="poly" coords="354,471,320,761,914,787,918,493"  nohref="nohref" title="Franklin" id="Franklin"/>
      <area shape="poly" coords="320,758,285,1051,487,1062,490,1095,519,1096,524,1210,814,1216,818,783"  nohref="nohref" title="Marion" id="Marion"/>
      <area shape="poly" coords="817,782,1301,797,1298,1135,1263,1133,1231,1119,1213,1132,816,1121"  nohref="nohref" title="Winston" id="Winston"/>
      <area shape="poly" coords="1302,780,1880,792,1907,841,1876,841,1842,848,1760,1001,1748,995,1674,1036,1692,1068,1677,1063,1611,1161,1472,1224,1467,1275,1434,1272,1433,1280,1396,1280,1392,1251,1320,1250,1293,1170"  nohref="nohref" title="Cullman" id="Cullman"/>
      <area shape="poly" coords="1908,838,1876,841,1842,847,1760,1005,1750,997,1673,1033,1693,1066,1678,1063,1613,1164,1476,1223,1462,1272,1429,1277,1444,1337,1458,1337,1508,1303,1623,1307,1724,1376,1725,1387,1791,1388,1793,1351,1849,1347,1867,1333,1934,1321,2003,1253,2004,1219,2029,1205,2021,1194,1986,1193,2018,1145,2018,1074,2043,1018"  nohref="nohref" title="Blount" id="Blount"/>
      <area shape="poly" coords="2231,902,2466,901,2472,1004,2510,983,2521,983,2509,1003,2571,1139,2563,1195,2471,1174,2419,1189,2418,1229,2391,1229,2386,1215,2369,1213,2355,1243,2343,1243,2335,1276,2305,1272,2305,1289,2268,1303,2264,1273,2229,1281,2222,1237,2189,1237,2187,1216,2169,1202,2165,1167,2139,1136,2095,1162,2067,1140,2021,1195,1985,1199,2019,1142,2016,1073,2043,1016,2147,922,2167,919,2225,917"  nohref="nohref" title="Etowah" id="Etowah"/>
      <area shape="poly" coords="2776,534,2708,584,2705,646,2661,719,2630,725,2623,748,2536,835,2499,844,2498,853,2469,858,2470,1006,2518,983,2510,1004,2570,1139,2570,1160,2757,1174,2761,1189,2791,1189,2792,1170,2883,1159"  nohref="nohref" title="Cherokee" id="Cherokee"/>
      <area shape="poly" coords="2884,1157,2978,1692,2929,1677,2926,1684,2547,1680,2547,1692,2536,1698,2533,1715,2434,1714,2435,1703,2520,1632,2520,1615,2564,1615,2573,1569,2583,1565,2584,1554,2620,1549,2620,1537,2647,1531,2659,1510,2663,1375,2710,1341,2710,1295,2661,1292,2661,1263,2694,1259,2695,1242,2756,1245,2760,1191,2792,1186,2794,1171"  nohref="nohref" title="Cleburne" id="Cleburne"/>
      <area shape="poly" coords="2759,1170,2568,1161,2565,1194,2468,1172,2419,1194,2418,1226,2391,1228,2382,1213,2371,1213,2355,1239,2340,1244,2336,1273,2309,1275,2309,1285,2268,1298,2277,1322,2264,1346,2284,1392,2212,1431,2209,1451,2187,1446,2187,1479,2285,1491,2287,1506,2298,1513,2311,1573,2330,1571,2335,1582,2518,1585,2518,1617,2566,1615,2574,1566,2584,1570,2585,1551,2617,1548,2618,1536,2647,1531,2662,1509,2663,1371,2713,1340,2710,1291,2663,1291,2664,1260,2694,1261,2698,1241,2758,1241"  nohref="nohref" title="Calhoun" id="Calhoun"/>
      <area shape="poly" coords="2274,1304,2263,1276,2230,1284,2224,1240,2193,1237,2186,1214,2171,1202,2161,1160,2137,1136,2099,1160,2070,1146,2030,1182,2024,1194,2028,1203,2001,1220,2004,1255,1934,1323,1864,1334,1840,1349,1789,1351,1789,1387,1822,1391,1823,1421,1839,1442,1841,1509,1817,1554,1817,1612,1821,1625,1844,1625,1883,1634,1883,1681,1977,1680,1975,1799,2009,1779,2057,1696,2057,1668,2075,1668,2081,1689,2082,1697,2109,1688,2112,1663,2148,1638,2126,1618,2118,1579,2153,1582,2143,1556,2169,1550,2165,1510,2130,1488,2135,1471,2155,1463,2169,1486,2181,1494,2191,1478,2189,1445,2210,1446,2210,1433,2283,1390,2269,1345,2277,1320"  nohref="nohref" title="St. Clair" id="St. Clair"/>
      <area shape="poly" coords="1826,1389,1729,1388,1726,1377,1623,1302,1506,1298,1466,1336,1441,1337,1442,1348,1428,1349,1429,1367,1390,1364,1381,1380,1381,1410,1364,1431,1364,1471,1351,1475,1346,1513,1315,1510,1313,1542,1263,1543,1263,1555,1233,1559,1233,1569,1215,1572,1210,1602,1226,1620,1195,1643,1181,1633,1165,1666,1153,1650,1142,1658,1155,1673,1148,1687,1133,1679,1133,1705,1093,1690,1076,1718,1106,1732,1107,1746,1132,1749,1135,1767,1168,1783,1168,1797,1185,1798,1185,1829,1231,1855,1232,1879,1250,1895,1282,1900,1282,1914,1319,1915,1336,1931,1336,1962,1416,1967,1429,1942,1446,1941,1467,1927,1473,1906,1509,1867,1553,1869,1554,1836,1606,1830,1608,1811,1628,1795,1632,1776,1661,1776,1662,1761,1699,1734,1700,1720,1768,1721,1821,1659,1851,1658,1846,1624,1822,1624,1817,1613,1815,1555,1842,1507,1837,1439,1825,1420"  nohref="nohref" title="Jefferson" id="Jefferson"/>
      <area shape="poly" coords="1432,1280,1398,1279,1389,1255,1321,1247,1293,1172,1292,1135,1266,1130,1233,1119,1210,1129,815,1121,813,1265,908,1274,910,1463,1008,1470,1005,1567,1052,1568,1055,1586,1105,1584,1103,1666,1147,1666,1149,1648,1163,1665,1179,1635,1199,1643,1229,1618,1209,1601,1217,1565,1230,1568,1232,1557,1265,1557,1266,1540,1312,1536,1317,1509,1341,1509,1348,1478,1363,1476,1363,1429,1380,1411,1380,1382,1392,1364,1426,1362,1430,1350,1438,1348,1440,1303,1434,1302,1434,1283,1432,1280"  nohref="nohref" title="Walker" id="Walker"/>
      <area shape="poly" coords="813,1216,520,1208,520,1646,782,1658,780,1588,815,1586,815,1555,1003,1566,1005,1469,914,1460,906,1273,810,1264"  nohref="nohref" title="Fayette" id="Fayette"/>
      <area shape="poly" coords="521,1096,490,1095,490,1060,286,1051,214,1631,521,1650,521,1647"  nohref="nohref" title="Lamar" id="Lamar"/>
      <area shape="poly" coords="616,1648,216,1633,142,2232,303,2228,329,2187,389,2185,396,2168,429,2187,430,2180,429,2161,510,2128,513,2107,618,2062"  nohref="nohref" title="Pickens" id="Pickens"/>
      <area shape="poly" coords="614,1650,779,1656,784,1588,816,1584,816,1552,1055,1567,1055,1583,1104,1585,1105,1666,1149,1663,1154,1674,1150,1691,1130,1678,1132,1703,1087,1686,1079,1719,1104,1732,1108,1744,1129,1745,1135,1766,1167,1783,1167,1796,1187,1796,1185,1826,1232,1851,1232,1874,1247,1892,1279,1898,1281,1913,1320,1915,1333,1931,1335,1959,1321,1967,1300,1991,1282,1991,1283,1972,1263,1972,1216,2021,1213,2092,1135,2089,1108,2133,1097,2226,736,2228,736,2212,618,2212"  nohref="nohref" title="Tuscaloosa" id="Tuscaloosa"/>
      <area shape="poly" coords="1876,1633,1847,1633,1847,1651,1827,1655,1771,1716,1701,1722,1700,1737,1660,1759,1660,1774,1636,1774,1631,1798,1609,1810,1607,1828,1555,1837,1553,1869,1510,1866,1471,1906,1467,1929,1449,1940,1429,1940,1416,1961,1376,1964,1376,2053,1426,2061,1428,2127,1444,2129,1443,2150,1460,2150,1459,2165,1511,2182,1513,2157,1756,2160,1753,2174,1803,2215,1849,2208,1850,2133,1898,2102,1860,2040,1875,2013,1896,2023,1898,2012,1893,1984,1901,1967,1921,1969,1928,1952,1920,1923,1947,1936,1991,1912,1985,1853,2010,1848,1993,1821,1977,1807,1976,1680,1880,1678,1882,1632"  nohref="nohref" title="Shelby" id="Shelby"/>
      <area shape="poly" coords="2517,1586,2336,1581,2332,1571,2312,1574,2297,1510,2288,1506,2281,1489,2196,1477,2181,1494,2154,1466,2138,1472,2132,1488,2168,1506,2168,1548,2138,1557,2153,1579,2119,1581,2126,1615,2146,1637,2114,1661,2106,1688,2084,1694,2077,1666,2067,1668,2059,1698,2006,1779,1976,1797,1979,1809,1994,1817,2009,1849,1983,1853,1992,1909,1951,1936,1925,1928,1925,1947,1922,1970,1895,1969,1895,1997,1896,2019,1879,2013,1861,2047,1887,2078,1897,2097,1871,2123,2166,2117,2172,2019,2217,2017,2220,1908,2350,1907,2352,1809,2384,1810,2384,1796,2400,1794,2402,1730,2419,1730,2418,1684,2463,1686,2520,1635"  nohref="nohref" title="Talladega" id="Talladega"/>
      <area shape="poly" coords="2471,1682,2436,1702,2435,1711,2527,1716,2540,1697,2544,1697,2545,1679,2658,1690,2652,2116,2352,2119,2354,2133,2320,2138,2318,2119,2167,2119,2172,2021,2221,2016,2220,1910,2352,1908,2352,1809,2385,1807,2385,1795,2400,1795,2402,1732,2417,1728,2419,1686"  nohref="nohref" title="Clay" id="Clay"/>
      <area shape="poly" coords="2979,1696,2934,1674,2928,1682,2657,1682,2654,2114,3055,2114"  nohref="nohref" title="Randolph" id="Randolph"/>
      <area shape="poly" coords="3054,2112,2713,2113,2714,2531,2866,2531,2870,2515,2880,2515,2894,2529,3004,2527,3006,2513,3143,2505,3137,2488,3160,2472,3115,2433,3115,2412,3125,2396,3121,2380,3099,2383"  nohref="nohref" title="Chambers" id="Chambers"/>
      <area shape="poly" coords="2711,2115,2353,2119,2356,2130,2326,2137,2326,2507,2358,2510,2358,2491,2374,2491,2374,2509,2444,2507,2444,2528,2429,2540,2433,2549,2417,2571,2417,2605,2441,2624,2429,2678,2440,2801,2526,2795,2526,2700,2604,2700,2604,2681,2621,2683,2618,2571,2636,2568,2636,2551,2700,2551,2700,2536,2714,2534"  nohref="nohref" title="Tallapoosa" id="Tallapoosa"/>
      <area shape="poly" coords="2321,2120,1873,2123,1851,2134,1843,2236,1856,2250,1846,2285,1858,2334,1866,2334,1884,2384,1912,2395,1902,2424,1902,2444,1913,2444,1977,2510,2017,2512,2018,2494,2034,2494,2034,2508,2327,2507"  nohref="nohref" title="Coosa" id="Coosa"/>
      <area shape="poly" coords="1849,2211,1804,2210,1752,2172,1756,2158,1509,2158,1512,2420,1376,2421,1380,2610,1664,2612,1665,2563,1946,2562,1947,2515,1983,2511,1912,2444,1904,2444,1908,2393,1884,2383,1864,2333,1855,2333,1847,2285,1853,2250,1841,2237"  nohref="nohref" title="Chilton" id="Chilton"/>
      <area shape="poly" coords="1373,1963,1379,2053,1425,2064,1426,2126,1444,2127,1443,2150,1457,2149,1457,2172,1509,2183,1511,2419,1096,2426,1099,2371,1003,2371,1006,2229,1099,2225,1107,2131,1135,2088,1218,2093,1214,2022,1262,1971,1284,1971,1284,1991,1299,1991,1329,1960"  nohref="nohref" title="Bibb" id="Bibb"/>
      <area shape="poly" coords="731,2226,735,2241,689,2255,700,2283,713,2283,701,2302,666,2312,681,2330,633,2350,626,2377,614,2377,635,2441,586,2482,583,2503,622,2486,638,2503,638,2522,620,2528,616,2545,624,2557,647,2545,657,2616,694,2610,700,2616,689,2636,632,2631,650,2662,668,2669,690,2655,705,2687,677,2707,665,2689,631,2761,625,2738,605,2734,589,2749,573,2729,576,2703,552,2680,565,2663,581,2664,593,2685,610,2668,585,2650,551,2662,530,2635,406,2681,383,2650,384,2627,404,2626,404,2585,422,2573,414,2561,382,2581,346,2565,385,2533,361,2514,354,2475,369,2469,386,2480,399,2462,389,2439,363,2455,331,2413,316,2418,288,2412,316,2394,310,2380,291,2362,285,2321,272,2313,278,2298,295,2304,300,2293,286,2272,309,2273,318,2262,301,2255,301,2214,325,2198,328,2181,392,2185,398,2169,435,2186,432,2157,512,2130,514,2106,620,2058,621,2212,734,2212,734,2226"  nohref="nohref" title="Greene" id="Greene"/>
      <area shape="poly" coords="1009,2233,729,2227,734,2237,690,2256,697,2276,710,2286,704,2297,665,2311,683,2329,630,2346,624,2381,613,2375,633,2438,587,2475,583,2499,624,2485,642,2499,641,2523,617,2526,618,2551,650,2544,656,2612,696,2609,701,2620,689,2638,638,2631,648,2665,670,2672,689,2656,705,2684,676,2704,667,2689,633,2760,712,2757,713,2812,903,2806,903,2619,954,2611,954,2423,1002,2416"  nohref="nohref" title="Hale" id="Hale"/>
      <area shape="poly" coords="302,2232,143,2228,51,2989,520,2998,482,2953,468,2956,436,2928,407,2921,418,2858,482,2827,504,2793,547,2755,606,2766,606,2749,575,2734,574,2701,550,2673,566,2662,580,2662,592,2681,609,2667,592,2650,553,2660,530,2637,408,2682,382,2654,384,2626,406,2624,405,2584,421,2571,413,2563,389,2581,350,2565,383,2532,363,2516,355,2473,370,2472,385,2480,398,2462,386,2438,364,2456,333,2411,320,2416,294,2414,318,2394,289,2359,282,2321,270,2304,273,2298,295,2305,299,2293,286,2270,303,2270,319,2261,301,2254"  nohref="nohref" title="Sumter" id="Sumter"/>
      <area shape="poly" coords="1098,2371,1004,2374,1004,2411,956,2425,953,2611,904,2621,901,3001,996,2997,995,2807,1292,2802,1326,2725,1316,2711,1363,2677,1349,2650,1366,2602,1362,2583,1377,2544,1377,2422,1098,2425"  nohref="nohref" title="Perry" id="Perry"/>
      <area shape="poly" coords="1948,2561,1662,2562,1666,2611,1470,2610,1491,2727,1485,2760,1528,2864,1559,2872,1541,2886,1539,2905,1571,2945,1573,2964,1565,2968,1565,2999,1578,3005,1609,2968,1600,2933,1600,2908,1636,2912,1653,2897,1661,2937,1685,2955,1718,2931,1720,2899,1749,2897,1759,2906,1756,2929,1775,2944,1786,2931,1822,2939,1831,2970,1873,2962,1871,2938,1886,2939,1904,2917,1902,2894,1934,2899,1948,2888"  nohref="nohref" title="Autauga" id="Autauga"/>
      <area shape="poly" coords="2447,2507,2374,2510,2373,2492,2357,2492,2361,2506,2037,2509,2037,2496,2019,2493,2019,2507,1944,2520,1948,2888,1959,2886,1959,2872,2009,2864,2044,2890,2047,2877,2027,2853,2045,2821,2038,2799,2058,2817,2091,2801,2086,2787,2158,2841,2164,2844,2153,2863,2190,2862,2196,2871,2257,2881,2293,2894,2297,2878,2343,2866,2342,2846,2350,2852,2355,2836,2373,2854,2403,2839,2450,2845,2450,2822,2475,2814,2440,2802,2428,2680,2440,2623,2418,2605,2421,2564,2437,2551,2433,2541,2446,2530"  nohref="nohref" title="Elmore" id="Elmore"/>
      <area shape="poly" coords="3158,2505,3004,2511,3004,2524,2896,2528,2882,2514,2870,2514,2866,2530,2702,2536,2698,2549,2636,2551,2636,2567,2618,2570,2621,2698,2651,2697,2653,2709,2811,2791,2864,2787,2868,2885,2964,2880,2963,2820,3218,2814,3220,2769,3274,2762,3199,2682,3192,2620,3177,2620,3194,2600,3164,2551"  nohref="nohref" title="Lee" id="Lee"/>
      <area shape="poly" coords="3278,2763,3220,2767,3220,2810,2962,2819,2967,2880,2870,2888,2869,3077,2879,3180,3032,3172,3072,3234,3096,3245,3102,3268,3231,3264,3239,3237,3224,3184,3270,3135,3316,3113,3303,3099,3351,3093,3377,3031,3274,2970,3303,2915,3296,2875,3314,2858,3278,2828"  nohref="nohref" title="Russell" id="Russell"/>
      <area shape="poly" coords="2864,2787,2812,2790,2654,2710,2654,2697,2625,2697,2621,2679,2607,2679,2605,2700,2526,2695,2527,2792,2444,2797,2474,2813,2452,2818,2449,2844,2406,2838,2377,2854,2353,2838,2353,2852,2337,2846,2344,2868,2313,2881,2321,2921,2341,2949,2342,2967,2366,2975,2389,3022,2415,3039,2430,3039,2432,2999,2458,3032,2453,3070,2468,3086,2868,3083"  nohref="nohref" title="Macon" id="Macon"/>
      <area shape="poly" coords="2318,2882,2307,2876,2292,2877,2292,2889,2192,2871,2191,2864,2155,2865,2162,2845,2089,2789,2089,2806,2060,2817,2037,2798,2046,2819,2027,2857,2043,2874,2044,2890,2012,2860,1962,2874,1961,2884,1935,2901,1908,2894,1905,2918,1892,2939,1873,2945,1870,2970,1887,2979,1871,3009,1880,3042,1908,3044,1954,3076,1953,3286,2048,3290,2053,3384,2342,3379,2339,3066,2351,3066,2351,3045,2417,3039,2390,3022,2366,2975,2342,2965,2342,2941,2321,2916"  nohref="nohref" title="Montgomery" id="Montgomery"/>
      <area shape="poly" coords="1871,2962,1829,2968,1821,2939,1781,2932,1776,2945,1754,2931,1763,2905,1754,2895,1717,2900,1719,2928,1691,2954,1665,2949,1653,2897,1637,2912,1599,2910,1599,2931,1605,2965,1582,3004,1562,2999,1566,2969,1538,2981,1533,3001,1557,3006,1519,3042,1549,3084,1573,3083,1573,3094,1481,3098,1481,3293,1526,3291,1527,3389,1958,3386,1953,3078,1908,3042,1879,3046,1872,3012,1888,2978"  nohref="nohref" title="Lowndes" id="Lowndes"/>
      <area shape="poly" coords="1469,2611,1379,2610,1378,2545,1364,2575,1366,2601,1346,2660,1363,2672,1318,2707,1327,2722,1291,2803,998,2808,995,3002,945,3003,949,3053,972,3044,1007,3081,1028,3077,1050,3127,1088,3126,1126,3179,1151,3187,1145,3212,1167,3213,1171,3236,1215,3250,1225,3292,1480,3293,1481,3097,1577,3097,1577,3083,1544,3082,1520,3044,1557,3006,1538,3000,1534,2980,1574,2966,1573,2945,1544,2907,1542,2879,1560,2871,1524,2863,1483,2766,1491,2719"  nohref="nohref" title="Dallas" id="Dallas"/>
      <area shape="poly" coords="947,3002,899,3002,902,2805,715,2811,712,2758,628,2759,624,2734,597,2733,595,2744,606,2750,604,2767,549,2757,504,2787,479,2835,420,2855,411,2921,435,2926,469,2957,479,2949,518,2994,520,3022,508,3022,510,3001,483,3007,479,3001,453,3008,448,3023,435,3020,433,3039,445,3044,444,3066,438,3075,448,3097,433,3111,447,3135,433,3179,413,3177,398,3229,409,3246,382,3266,366,3259,336,3273,343,3293,337,3320,355,3348,364,3329,380,3348,763,3353,766,3340,803,3335,804,3201,901,3196,903,3061,914,3047,949,3049"  nohref="nohref" title="Marengo" id="Marengo"/>
      <area shape="poly" coords="520,2993,52,2989,1,3432,2,3668,361,3670,345,3601,332,3597,313,3611,291,3594,291,3576,279,3537,288,3518,293,3498,307,3489,322,3445,377,3424,396,3421,387,3409,367,3421,349,3404,338,3404,335,3390,359,3375,374,3390,381,3384,380,3361,380,3344,367,3326,355,3350,337,3322,343,3284,338,3273,367,3261,382,3266,408,3245,401,3228,417,3176,432,3179,448,3133,435,3111,446,3099,434,3072,448,3063,446,3045,433,3039,436,3020,448,3023,452,3009,477,3001,480,3010,507,3003,509,3021,522,3022"  nohref="nohref" title="Choctaw" id="Choctaw"/>
      <area shape="poly" coords="764,3353,382,3347,379,3386,371,3386,359,3375,334,3386,334,3404,352,3404,364,3417,380,3409,399,3420,320,3437,308,3491,292,3494,288,3522,278,3529,285,3563,292,3594,312,3610,332,3597,343,3602,371,3709,357,3715,371,3780,390,3796,422,3801,425,3813,399,3813,415,3827,502,3863,525,3897,521,3926,519,3952,498,3954,528,3972,506,3993,526,3995,527,4003,491,4027,546,4014,543,4048,523,4091,472,4100,490,4124,450,4161,481,4174,501,4192,481,4224,486,4238,545,4227,582,4216,573,4189,593,4172,577,4163,609,4140,630,4151,644,4138,620,4102,624,4092,647,4120,660,4120,646,4104,646,4074,665,4047,675,4047,680,4079,702,4071,701,4030,720,4003,777,3978,805,4002,849,3972,855,3919,802,3881,854,3835,854,3678,903,3678,900,3551,913,3550,915,3534,808,3537,806,3486,762,3478"  nohref="nohref" title="Clarke" id="Clarke"/>
      <area shape="poly" coords="953,3048,915,3049,902,3064,902,3192,803,3198,806,3335,765,3342,763,3480,803,3486,807,3537,1482,3533,1479,3387,1530,3389,1525,3291,1228,3291,1214,3249,1173,3241,1168,3211,1147,3214,1152,3184,1128,3184,1087,3120,1054,3124,1026,3075,1009,3080,973,3042"  nohref="nohref" title="Wilcox" id="Wilcox"/>
      <area shape="poly" coords="2433,3001,2456,3029,2453,3067,2467,3086,2872,3083,2877,3327,2800,3327,2797,3342,2726,3345,2661,3473,2537,3474,2539,3382,2449,3381,2439,3355,2438,3288,2382,3281,2373,3285,2373,3301,2358,3301,2358,3288,2342,3288,2333,3068,2351,3064,2351,3037,2433,3038"  nohref="nohref" title="Bullock" id="Bullock"/>
      <area shape="poly" coords="3229,3264,3105,3267,3095,3244,3077,3235,3035,3172,2878,3175,2878,3324,2802,3327,2796,3341,2725,3346,2649,3493,2647,3558,2657,3580,2651,3607,2618,3629,2618,3669,2606,3682,2606,3734,2583,3766,2893,3762,2896,3663,3084,3665,3090,3619,3127,3602,3136,3588,3170,3592,3158,3575,3165,3455,3180,3454,3183,3432,3206,3400,3205,3384,3223,3368"  nohref="nohref" title="Barbour" id="Barbour"/>
      <area shape="poly" coords="2659,3477,2646,3498,2647,3560,2659,3575,2650,3607,2617,3626,2619,3668,2605,3677,2609,3733,2585,3765,2170,3771,2170,3757,2187,3736,2186,3716,2200,3718,2197,3579,2150,3577,2152,3556,2166,3527,2162,3513,2173,3423,2158,3382,2343,3383,2342,3290,2356,3290,2356,3302,2372,3299,2372,3284,2437,3286,2439,3354,2447,3380,2540,3381,2540,3473"  nohref="nohref" title="Pike" id="Pike"/>
      <area shape="poly" coords="2051,3292,1957,3285,1957,3382,1916,3385,1913,3728,1867,3730,1866,3874,1962,3871,1962,3957,2056,3869,2075,3867,2079,3950,2093,3949,2092,3967,2157,3965,2155,3867,2206,3858,2202,3769,2168,3771,2168,3756,2192,3737,2188,3714,2196,3716,2196,3576,2148,3576,2148,3563,2165,3524,2173,3421,2156,3380,2053,3386"  nohref="nohref" title="Crenshaw" id="Crenshaw"/>
      <area shape="poly" coords="1917,3383,1479,3386,1479,3756,1523,3856,1543,3871,1867,3871,1870,3730,1915,3727"  nohref="nohref" title="Butler" id="Butler"/>
      <area shape="poly" coords="1482,3534,916,3537,916,3548,904,3549,902,3678,854,3681,852,3836,802,3876,855,3919,850,3976,803,4001,782,3977,715,4003,699,4032,706,4072,675,4080,669,4044,648,4074,648,4110,663,4119,713,4112,747,4163,789,4184,834,4185,854,4197,895,4180,926,4165,982,4164,990,4148,1047,4100,1066,4063,1110,4007,1178,3946,1197,3942,1232,3879,1230,3861,1241,3815,1259,3793,1269,3744,1338,3706,1334,3678,1347,3658,1377,3666,1481,3618"  nohref="nohref" title="Monroe" id="Monroe"/>
      <area shape="poly" coords="361,3668,5,3667,20,4313,119,4317,122,4286,414,4292,446,4258,461,4265,492,4265,486,4220,503,4189,484,4167,452,4160,490,4122,474,4095,521,4088,546,4047,546,4012,489,4027,528,4004,524,3993,506,3996,527,3970,502,3952,519,3949,526,3900,500,3859,414,3823,403,3813,426,3811,420,3798,389,3798,372,3778,357,3715,369,3706"  nohref="nohref" title="Washington" id="Washington"/>
      <area shape="poly" coords="1477,3617,1380,3668,1347,3659,1335,3678,1339,3705,1268,3746,1261,3794,1239,3813,1228,3871,1232,3881,1196,3943,1179,3949,1060,4063,1050,4101,990,4150,987,4166,1618,4166,1608,4179,1616,4209,1609,4227,1616,4247,1678,4238,1675,4072,1707,4049,1702,3974,1674,3972,1675,3871,1543,3869,1522,3855,1482,3756"  nohref="nohref" title="Conecuh" id="Conecuh"/>
      <area shape="poly" coords="2542,3766,2201,3769,2204,3851,2158,3870,2157,4240,2542,4233"  nohref="nohref" title="Coffee" id="Coffee"/>
      <area shape="poly" coords="2894,3760,2539,3767,2544,4237,2618,4235,2634,4217,2634,4190,2656,4178,2649,4164,2681,4145,2786,4170,2835,4176,2833,4129,2897,4124"  nohref="nohref" title="Dale" id="Dale"/>
      <area shape="poly" coords="3171,3588,3139,3588,3126,3602,3090,3619,3085,3664,2895,3665,2897,4096,3215,4107,3206,4032,3218,4007,3218,3965,3232,3961,3220,3917,3252,3835,3236,3810,3233,3744,3208,3731,3209,3717,3165,3660,3175,3628"  nohref="nohref" title="Henry" id="Henry"/>
      <area shape="poly" coords="3216,4105,3205,4133,3189,4133,3204,4201,3196,4228,3206,4258,3228,4268,3272,4330,3275,4357,3295,4396,3300,4443,2837,4456,2833,4230,2616,4236,2632,4219,2635,4188,2655,4179,2651,4167,2684,4143,2782,4168,2836,4175,2834,4133,2899,4126,2897,4099"  nohref="nohref" title="Houston" id="Houston"/>
      <area shape="poly" coords="2832,4231,2161,4240,2165,4463,2835,4456"  nohref="nohref" title="Geneva" id="Geneva"/>
      <area shape="poly" coords="2161,3966,2091,3966,2093,3950,2079,3950,2077,3869,2057,3871,1963,3957,1962,3873,1676,3872,1676,3969,1706,3975,1707,4048,1677,4074,1675,4472,2165,4466"  nohref="nohref" title="Covington" id="Covington"/>
      <area shape="poly" coords="1676,4241,1619,4247,1603,4223,1615,4213,1608,4183,1616,4165,924,4164,855,4198,839,4183,803,4183,800,4456,1675,4466"  nohref="nohref" title="Escambia" id="Escambia"/>
      <area shape="poly" coords="807,4183,780,4181,748,4164,710,4114,641,4120,624,4092,620,4100,643,4135,631,4151,613,4138,572,4160,596,4170,573,4186,583,4213,486,4238,490,4258,458,4271,463,4281,490,4281,486,4313,458,4351,463,4373,490,4373,491,4396,472,4407,481,4431,467,4434,468,4482,506,4512,476,4527,476,4547,444,4589,456,4605,483,4627,483,4647,441,4661,440,4679,413,4689,408,4722,433,4810,482,4822,502,4871,505,4920,513,4947,476,5016,493,5033,510,5103,535,5129,572,5143,581,5108,591,5112,576,5148,579,5168,607,5201,642,5223,650,5245,644,5270,510,5288,489,5264,469,5269,439,5289,398,5295,386,5310,391,5321,479,5307,582,5316,747,5287,952,5235,946,5221,899,5222,893,5211,893,5184,921,5184,953,5144,953,5128,971,5107,1006,5096,1012,5065,965,5035,976,5012,960,4979,1012,4886,1003,4809,930,4781,929,4759,885,4736,876,4700,817,4641,786,4603,829,4491,825,4456,802,4455"  nohref="nohref" title="Baldwin" id="Baldwin"/>
      <area shape="poly" coords="36,5126,41,5151,56,5151,68,5125,113,5122,116,5143,134,5143,141,5129,162,5134,162,5199,178,5198,183,5145,236,5157,229,5186,198,5191,199,5204,273,5196,291,5229,322,5161,324,5053,338,5032,330,4984,350,4952,344,4925,377,4890,376,4840,426,4792,409,4724,411,4689,442,4680,441,4653,486,4645,484,4625,443,4592,477,4546,477,4525,508,4509,465,4482,466,4438,477,4430,472,4411,490,4394,490,4371,461,4371,459,4344,490,4307,490,4278,462,4279,461,4266,448,4259,417,4288,121,4286,121,4315,22,4314"  nohref="nohref" title="Mobile" id="Mobile"/>
    div(class="hide" id="display")

  table(class="table table-bordered")
    thead
      tr
        th(scope="col") Key
        th(scope="col") > 30
        th(scope="col") 30 - 20
        th(scope="col") 20 - 10
        th(scope="col") 10 - 5
        th(scope="col") 5 - 2.5
        th(scope="col") 2.5 - 1
        th(scope="col") Less than 1
        th(scope="col") 0
    tbody
      tr
        th(scope="row") Color
        td
          img(src="/images/darkgreen.png", alt="Green Square", height="25", width="25")
        td
          img(src="/images/lightGreen.png", alt="", height="25", width="25")
        td
          img(src="/images/yellow.png", alt="", height="25", width="25")
        td
          img(src="/images/lightYellow.png", alt="", height="25", width="25")
        td
          img(src="/images/darkOrange.png", alt="", height="25", width="25")
        td
          img(src="/images/lightOrangepng.png", alt="", height="25", width="25")
        td
          img(src="/images/red.png", alt="", height="25", width="25")
        td
          img(src="/images/darkRed.png", alt="", height="25", width="25")

  div
    -
      let moForestRes = `dispatch(\"missouriForestResidues\")`
      let iaForestRes = `dispatch(\"iowaForestResidues\")`
      let ksForestRes = `dispatch(\"kansasForestResidues\")`
      let arForestRes = `dispatch(\"arkansasForestResidues\")`
      let ndForestRes = `dispatch(\"northDakotaForestResidues\")`
      let okForestRes = `dispatch(\"oklahomaForestResidues\")`
      let neForestRes = `dispatch(\"nebraskaForestResidues\")`
      let ilForestRes = `dispatch(\"illinoisForestResidues\")`
      let kyForestRes = `dispatch(\"kentuckyForestResidues\")`
      let tnForestRes = `dispatch(\"tennesseeForestResidues\")`
      let msForestRes = `dispatch(\"mississippiForestResidues\")`
      let meForestRes = `dispatch(\"maineForestResidues\")`
      let nhForestRes = `dispatch(\"newHampshireForestResidues\")`
      let vtForestRes = `dispatch(\"vermontForestResidues\")`
      let maForestRes = `dispatch(\"massachusettsForestResidues\")`
      let nyForestRes = `dispatch(\"newYorkForestResidues\")`
      let riForestRes = `dispatch(\"rhodeIslandForestResidues\")`
      let ctForestRes = `dispatch(\"connecticutForestResidues\")`
      let njForestRes = `dispatch(\"newJerseyForestResidues\")`
      let paForestRes = `dispatch(\"pennsylvaniaForestResidues\")`
      let deForestRes = `dispatch(\"delawareForestResidues\")`
      let mdForestRes = `dispatch(\"marylandForestResidues\")`
      let vaForestRes = `dispatch(\"virginiaForestResidues\")`
      let ncForestRes = `dispatch(\"northCarolinaForestResidues\")`
      let scForestRes = `dispatch(\"southCarolinaForestResidues\")`
      let gaForestRes = `dispatch(\"georgiaForestResidues\")`
      let alForestRes = `dispatch(\"alabamaForestResidues\")`
      let wvForestRes = `dispatch(\"westVirginiaForestResidues\")`
      let ohForestRes = `dispatch(\"ohioForestResidues\")`
      let miForestRes = `dispatch(\"michiganForestResidues\")`
      let inForestRes = `dispatch(\"indianaForestResidues\")`
      let flForestRes = `dispatch(\"floridaForestResidues\")`
      let wiForestRes = `dispatch(\"wisconsinForestResidues\")`
      let mnForestRes = `dispatch(\"minnesotaForestResidues\")`
      let sdForestRes = `dispatch(\"southDakotaForestResidues\")`
      let mtForestRes = `dispatch(\"montanaForestResidues\")`
      let wyForestRes = `dispatch(\"wyomingForestResidues\")`
      let coForestRes = `dispatch(\"coloradoForestResidues\")`
      let nwForestRes = `dispatch(\"newMexicoForestResidues\")`
      let txForestRes = `dispatch(\"texasForestResidues\")`
      let azForestRes = `dispatch(\"arizonaForestResidues\")`
      let utForestRes = `dispatch(\"utahForestResidues\")`
      let idForestRes = `dispatch(\"idahoForestResidues\")`
      let waForestRes = `dispatch(\"washingtonForestResidues\")`
      let orForestRes = `dispatch(\"oregonForestResidues\")`
      let nvForestRes = `dispatch(\"nevadaForestResidues\")`
      let caForestRes = `dispatch(\"californiaForestResidues\")`
      let laForestRes = `dispatch(\"louisianaForestResidues\")`
      let akForestRes = `dispatch(\"alaskaForestResidues\")`
      let hiForestRes = `dispatch(\"hawaiiForestResidues\")`
    div
      button(type="button" class="btn btn-primary" onClick=alForestRes) Go to Alabama Forest Residue
      button(type="button" class="btn btn-primary" onClick=akForestRes) Go to Alaska Forest Residues 
      button(type="button" class="btn btn-primary" onClick=azForestRes) Go to Arizona Forest Residues 
      br
      button(type="button" class="btn btn-primary" onClick=arForestRes) Go to Arkansas Forest Residues
      button(type="button" class="btn btn-primary" onClick=caForestRes) Go to California Forest Residues
      button(type="button" class="btn btn-primary" onClick=coForestRes) Go to Colorado Forest Residue
      br
      button(type="button" class="btn btn-primary" onClick=ctForestRes) Go to Connecticut Forest Residues 
      button(type="button" class="btn btn-primary" onClick=deForestRes) Go to Delaware Forest Residues 
      button(type="button" class="btn btn-primary" onClick=flForestRes) Go to Florida Forest Residues
      br
      button(type="button" class="btn btn-primary" onClick=gaForestRes) Go to Georgia Forest Residues
      button(type="button" class="btn btn-primary" onClick=hiForestRes) Go to Hawaii Forest Residue
      button(type="button" class="btn btn-primary" onClick=idForestRes) Go to Idaho Forest Residues 
      br
      button(type="button" class="btn btn-primary" onClick=ilForestRes) Go to Illinois Forest Residues 
      button(type="button" class="btn btn-primary" onClick=inForestRes) Go to Indiana Forest Residues
      button(type="button" class="btn btn-primary" onClick=iaForestRes) Go to Iowa Forest Residues
      br
      button(type="button" class="btn btn-primary" onClick=ksForestRes) Go to Kansas Forest Residue
      button(type="button" class="btn btn-primary" onClick=kyForestRes) Go to Kentucky Forest Residues 
      button(type="button" class="btn btn-primary" onClick=laForestRes) Go to Louisiana Forest Residues 
      br
      button(type="button" class="btn btn-primary" onClick=meForestRes) Go to Maine Forest Residues
      button(type="button" class="btn btn-primary" onClick=mdForestRes) Go to Maryland Forest Residues
      button(type="button" class="btn btn-primary" onClick=maForestRes) Go to Massachusettes Forest Residue
      br
      button(type="button" class="btn btn-primary" onClick=miForestRes) Go to Michigan Forest Residues 
      button(type="button" class="btn btn-primary" onClick=mnForestRes) Go to Minnesota Forest Residues 
      button(type="button" class="btn btn-primary" onClick=msForestRes) Go to Mississippi Forest Residues
      br
      button(type="button" class="btn btn-primary" onClick=moForestRes) Go to Missouri Forest Residues
      button(type="button" class="btn btn-primary" onClick=mtForestRes) Go to Montana Forest Residue
      button(type="button" class="btn btn-primary" onClick=neForestRes) Go to Nebraska Forest Residues 
      br
      button(type="button" class="btn btn-primary" onClick=nvForestRes) Go to Nevada Forest Residues 
      button(type="button" class="btn btn-primary" onClick=nhForestRes) Go to New Hampshire Forest Residues
      button(type="button" class="btn btn-primary" onClick=njForestRes) Go to New Jersey Forest Residues
      br
      button(type="button" class="btn btn-primary" onClick=nmForestRes) Go to New Mexico Forest Residue
      button(type="button" class="btn btn-primary" onClick=nyForestRes) Go to New York Forest Residues 
      button(type="button" class="btn btn-primary" onClick=ncForestRes) Go to North Carolina Forest Residues 
      br
      button(type="button" class="btn btn-primary" onClick=ndForestRes) Go to North Dakota Forest Residues
      button(type="button" class="btn btn-primary" onClick=ohForestRes) Go to Ohio Forest Residues
      button(type="button" class="btn btn-primary" onClick=okForestRes) Go to Oklahoma Forest Residue
      br
      button(type="button" class="btn btn-primary" onClick=orForestRes) Go to Orgeon Forest Residues 
      button(type="button" class="btn btn-primary" onClick=paForestRes) Go to Pennsylvania Forest Residues 
      button(type="button" class="btn btn-primary" onClick=riForestRes) Go to Rhode Island Forest Residues
      br
      button(type="button" class="btn btn-primary" onClick=scForestRes) Go to South Carolina Forest Residues
      button(type="button" class="btn btn-primary" onClick=sdForestRes) Go to South Dakota Forest Residue
      button(type="button" class="btn btn-primary" onClick=tnForestRes) Go to Tennessee Forest Residues 
      br
      button(type="button" class="btn btn-primary" onClick=txForestRes) Go to Texas Forest Residues 
      button(type="button" class="btn btn-primary" onClick=utForestRes) Go to Utah Forest Residues
      button(type="button" class="btn btn-primary" onClick=vtForestRes) Go to Vermont Forest Residues
      br
      button(type="button" class="btn btn-primary" onClick=vaForestRes) Go to Virginia Forest Residue
      button(type="button" class="btn btn-primary" onClick=waForestRes) Go to Washington Forest Residues 
      button(type="button" class="btn btn-primary" onClick=wvForestRes) Go to West Virginia Forest Residues 
      br
      button(type="button" class="btn btn-primary" onClick=wiForestRes) Go to Wisconsin Forest Residues
      button(type="button" class="btn btn-primary" onClick=wyForestRes) Go to Wyoming Forest Residues

    script.
      function dispatch(path){
        window.location.href=path
      }  

  script.
    function toDict(keys, values){
      var returnDict = []
      for (let i = 0; i < keys.length; i++){
        returnDict.push({key: keys[i], value: values[i]});
      }
      return returnDict;
    }
    
    // Creating arrays for each attribute from the CSV
    var countyText = "#{Counties}";
    var countyArray = countyText.split(",");

    var stateText = "#{States}";
    var stateArray = stateText.split(",");

    var tdtText = "#{TDT}";
    var tdtArray = tdtText.split(",");

    // Arrays to hold County data
    var testCounties = []
    var testCountiesTDT = []

    // Populating the arrays
    for (let s = 0; s < stateArray.length; s++){
      // Replace with state name
      if (stateArray[s] == "Alabama"){
        testCounties.push(countyArray[s])
        testCountiesTDT.push(tdtArray[s])
      }
    }

    // Creating the dictonary
    var finalDict = toDict(testCounties, testCountiesTDT)

    // Event Listener for hover of each area
    document.addEventListener('DOMContentLoaded', function() {
      var images = document.querySelectorAll('img[usemap]');
      images.forEach(function(image) {
        var mapid = image.getAttribute('usemap').substr(1);
        var imagewidth = image.naturalWidth;
        var imageheight = image.naturalHeight;
        var imagemap = document.querySelector('map[name="'+mapid+'"]');
        var areas = imagemap.querySelectorAll('area');
        image.removeAttribute('usemap');
        imagemap.remove();
        
        // create wrapper container
        var wrapper = document.createElement('div');
        wrapper.classList.add('imagemap');
        image.parentNode.insertBefore(wrapper, image);
        wrapper.appendChild(image);
        
        // create SVG overlay
        var svg = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
        svg.setAttribute('viewBox', `0 0 ${imagewidth} ${imageheight}`);
        svg.setAttribute('class', 'svg-overlay');
        wrapper.appendChild(svg);
        
        areas.forEach(function(area) {
          var coords = area.getAttribute('coords').split(',').map(Number);
          if (area.getAttribute('shape') === 'poly') {
            var pointsAttr = '';
            for (var i = 0; i < coords.length; i += 2) {
              var x = coords[i] - 5748;
              var y = coords[i + 1] - 1;
              pointsAttr += `${x},${y} `;
            }
            var polygon = document.createElementNS('http://www.w3.org/2000/svg', 'polygon');
            polygon.setAttribute('points', pointsAttr.trim());
            polygon.setAttribute('class', 'area');
            polygon.setAttribute('data-href', area.getAttribute('href'));
            polygon.setAttribute('title', area.getAttribute('title'));

            for (let i = 0; i < finalDict.length; i++){
              if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 30){
                polygon.setAttribute('fill', 'rgba(38, 106, 46, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 20){
                polygon.setAttribute('fill', 'rgba(153, 204, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 10){
                polygon.setAttribute('fill', 'rgba(255, 204, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 5){
                polygon.setAttribute('fill', 'rgba(255, 255, 102, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 2.5){
                polygon.setAttribute('fill', 'rgba(255, 102, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 1){
                polygon.setAttribute('fill', 'rgba(255, 153, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 0){
                polygon.setAttribute('fill', 'rgba(255, 0, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else {
                polygon.setAttribute('fill', 'rgba(204, 0, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
              }
              
            }

            polygon.addEventListener('mouseover', showInfo);
            polygon.addEventListener('mouseout', hideInfo);
            svg.appendChild(polygon);
          }
        });
        
        // Add click event listener to SVG polygons
        svg.addEventListener('click', function(event) {
          if (event.target.tagName === 'polygon') {
            var href = event.target.getAttribute('data-href');
            if (href) {
              window.location.href = href;
            }
          }
        });
      });
    });
    // Show and Hide Functions
    function showInfo(event){
      let county = event.target.attributes.title.nodeValue;
          
      document.getElementById("display").innerHTML = county + " ";

      for (let i = 0; i < finalDict.length; i++){
        if (finalDict[i].key == county){
          document.getElementById("display").innerHTML += finalDict[i].value
        }
      }

      document.querySelector('.hide').style.display = 'block';

    }
    function hideInfo(){
      document.querySelector('.hide').style.display = 'none';
    }