extends layout

block content
  h1= title

  style.
    .imagemap {
      position: relative; 
      display: inline-block; 
      width: 100%; 
      height: auto;
    }
    .imagemap img {
      display: block; 
      width: 50%; 
      height: auto;
    }
    .svg-overlay {
      position: absolute; 
      top: 0; 
      left: 0; 
      width: 110%; 
      height: 100%; 
      pointer-events: none;
    }
    .area {
      stroke-width: 1; 
      pointer-events: all; 
      transition: fill 0.15s ease-in-out, stroke 0.15s ease-in-out;
    }
    .hide{
      display: none;
    }

  //Fill in the src for the state svg
  img(src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Alaska_boroughs_and_census_areas%2C_blank.svg" alt="Map" usemap="#image-map" width="400" height="300")

  //Replace id with state map id and fill in the areas as children of the map
  div(class ="imagemap")
    map(name="image-map" id="AKmap")
      <area shape="poly" coords="295,70,303,68,306,57,311,59,327,59,337,49,341,38,352,25,361,26,377,13,392,14,399,8,403,2,415,6,413,11,410,13,414,16,419,7,422,10,425,15,427,17,430,14,445,14,443,22,450,22,454,27,460,24,464,24,468,23,477,23,483,27,496,30,507,29,516,32,526,26,532,25,555,35,562,67,535,71,511,74,513,88,466,92,414,92,414,91,405,91,405,88,397,88,397,86,356,82,355,79,338,79,338,81,321,78,318,83,310,82"  nohref="nohref" title="North Slope" id="North Slope"/>
      <area shape="poly" coords="310,82,322,96,325,110,335,114,346,114,346,116,342,121,348,129,341,129,341,132,347,132,351,136,344,136,341,141,330,138,320,138,320,128,323,124,314,122,313,144,315,145,318,155,362,160,363,158,365,158,365,146,373,147,374,142,384,142,385,133,395,133,395,138,400,138,400,134,404,134,407,139,411,138,411,132,419,132,419,127,427,126,427,115,420,113,420,104,414,99,414,91,405,91,405,88,397,88,397,86,355,82,354,79,338,79,337,81,322,78,318,82"  nohref="nohref" title="Northwest Arctic" id="Northwest Arctic"/>
      <area shape="poly" coords="562,66,575,137,572,146,568,150,563,150,559,154,559,160,551,166,551,175,545,175,545,163,526,168,525,164,519,162,519,158,514,158,514,162,504,166,492,166,491,184,500,189,499,190,468,192,461,202,457,199,453,202,452,208,451,208,451,212,442,212,442,217,448,223,448,226,441,237,441,251,431,257,390,257,390,254,361,255,360,257,339,255,342,226,347,219,347,212,360,205,359,198,357,198,359,180,363,175,364,165,367,165,367,158,365,158,365,146,373,147,374,142,384,142,385,133,395,133,395,138,400,138,400,134,404,134,407,139,411,138,411,132,419,132,419,127,427,126,427,115,420,113,420,104,414,99,414,92,466,92,513,88,511,74,535,71,561,67"  nohref="nohref" title="Yukon-Koyukuk" id="Yukon-Koyukuk"/>
      <area shape="poly" coords="314,121,269,139,269,144,275,148,286,153,286,156,281,158,281,163,283,164,283,174,299,181,304,179,314,179,319,185,320,178,323,182,323,186,333,178,342,177,345,173,348,177,348,182,345,184,339,185,345,192,346,206,341,212,330,212,327,209,323,216,330,224,333,225,342,226,347,219,347,211,360,205,359,198,357,198,359,179,364,175,364,165,367,165,367,158,363,158,362,160,318,155,315,145,313,144"  nohref="nohref" title="Nome" id="Nome"/>
      <area shape="poly" coords="545,163,526,168,525,164,519,162,519,158,514,158,514,162,503,166,492,166,491,184,500,189,504,193,518,191,526,185,531,184,545,176"  nohref="nohref" title="Fairbanks North Star" id="Fairbanks North Star"/>
      <area shape="poly" coords="575,136,597,244,586,247,585,241,583,241,581,230,575,226,570,226,569,230,567,230,563,215,551,219,538,219,538,217,522,220,522,212,515,212,513,191,518,191,526,185,531,184,545,176,551,175,551,165,559,160,559,154,563,150,569,150,573,144"  nohref="nohref" title="Southeast Fairbanks" id="Southeast Fairbanks"/>
      <area shape="poly" coords="513,191,504,193,499,189,499,190,468,192,461,202,457,199,453,202,452,208,451,208,451,212,442,212,442,217,448,223,448,226,441,237,441,239,455,238,455,236,484,219,497,219,502,218,502,214,515,212"  nohref="nohref" title="Denali" id="Denali"/>
      <area shape="poly" coords="342,226,332,225,330,224,323,216,315,222,304,214,300,215,292,224,293,231,289,232,277,243,277,249,272,249,273,264,277,272,279,268,284,275,292,277,297,269,297,266,304,267,305,263,308,266,317,263,318,265,333,265,347,260,344,255,339,255"  nohref="nohref" title="Wade Hampton" id="Wade Hampton"/>
      <area shape="poly" coords="441,251,431,257,390,257,390,254,361,255,360,257,344,256,347,260,333,265,318,265,317,263,308,266,305,263,304,267,297,266,297,269,292,277,282,275,281,282,275,286,283,294,290,304,290,309,304,310,314,301,321,323,315,326,318,335,319,341,314,345,318,347,323,345,323,340,329,341,328,337,331,337,332,330,338,327,340,320,361,289,363,286,373,287,378,289,383,285,387,285,387,288,436,289,436,274,441,274"  nohref="nohref" title="Bethel" id="Bethel"/>
      <area shape="poly" coords="522,212,515,212,502,214,502,218,497,219,484,219,455,236,455,238,441,239,441,274,464,274,464,278,482,277,487,271,517,270,522,268,518,247,525,246"  nohref="nohref" title="Matanuska-Susitna" id="Matanuska-Susitna"/>
      <area shape="poly" coords="661,316,661,312,656,305,639,295,639,292,631,289,631,281,621,284,619,288,595,286,592,284,574,288,568,303,580,299,595,298,598,299,601,296,598,293,605,293,602,301,616,304,624,298,626,292,628,300,625,307"  nohref="nohref" title="Yakutat" id="Yakutat"/>
      <area shape="poly" coords="487,271,480,277,485,283,495,287,496,291,502,290,502,271"  nohref="nohref" title="Anchorage" id="Anchorage"/>
      <area shape="poly" coords="597,243,605,286,595,286,592,284,574,288,568,303,552,297,538,294,539,288,526,282,502,290,502,270,517,270,521,268,518,247,525,246,523,219,538,217,538,219,551,219,563,215,567,230,569,230,570,226,575,226,581,230,583,241,585,241,586,247,597,244"  nohref="nohref" title="Valdez-Cordova" id="Valdez-Cordova"/>
      <area shape="poly" coords="503,312,500,290,496,291,495,287,484,285,482,288,476,285,464,293,465,307,458,317,460,322,464,324,471,319,464,327,458,330,461,338,476,329,492,313"  nohref="nohref" title="Kenai Peninsula" id="Kenai Peninsula"/>
      <area shape="poly" coords="464,274,436,274,436,301,433,321,427,329,424,330,424,335,418,335,420,352,430,351,435,345,439,344,433,339,427,339,426,338,434,324,442,323"  nohref="nohref" title="" id=""/>
      <area shape="poly" coords="436,289,401,288,401,322,382,334,384,345,386,344,385,348,377,356,374,379,359,391,358,400,338,408,340,425,355,423,362,414,360,411,374,405,391,395,394,387,394,383,408,373,430,357,430,351,420,352,418,335,424,335,424,330,427,329,433,321,436,300"  nohref="nohref" title="Bristol Bay" id="Bristol Bay"/>
      <area shape="poly" coords="401,288,387,288,387,285,383,285,378,289,373,287,363,286,340,320,338,327,332,330,330,340,338,336,344,344,348,340,356,356,361,355,361,342,365,340,366,351,384,345,382,334,401,322"  nohref="nohref" title="Dillingham" id="Dillingham"/>
      <area shape="poly" coords="451,350,448,352,445,360,418,387,426,403,428,406,455,386,457,379,452,370,446,372,447,368,462,363"  nohref="nohref" title="Kodiak Island" id="Kodiak Island"/>
      <area shape="poly" coords="338,407,331,412,328,418,332,426,326,426,320,419,308,420,295,430,283,438,273,439,261,442,258,447,253,449,194,469,182,478,179,484,196,475,206,477,221,473,232,468,263,454,267,450,280,451,287,445,300,447,309,430,312,428,313,428,311,436,340,426"  nohref="nohref" title="Aleutians East" id="Aleutians East"/>
      <area shape="poly" coords="679,285,693,304,706,301,697,295,691,293,690,288,684,283"  nohref="nohref" title="Skagway-Hoonah-Angoon" id="Skagway-Hoonah-Angoon"/>
      <area shape="poly" coords="678,285,671,292,672,301,684,302,687,313,694,317,692,321,698,325,702,321"  nohref="nohref" title="Haines" id="Haines"/>
      <area shape="poly" coords="692,321,693,317,687,313,684,301,672,302,667,308,669,313,674,311,680,314,680,309,682,314,686,322,681,328,676,329,666,326,657,319,665,310,670,314,677,315,686,322"  nohref="nohref" title="Skagway-Hoonah-Angoon" id="Skagway-Hoonah-Angoon"/>
      <area shape="poly" coords="706,300,692,305,706,321,714,321,713,315,716,324,723,326,727,317"  nohref="nohref" title="Juneau" id="Juneau"/>
      <area shape="poly" coords="727,317,754,345,747,352,741,347,730,345,733,340,724,334,723,326"  nohref="nohref" title="Skagway-Hoonah-Angoon" id="Skagway-Hoonah-Angoon"/>
      <area shape="poly" coords="754,344,760,352,771,353,775,358,769,364,763,368,754,364,756,359,747,353"  nohref="nohref" title="Wrangell-Petersburg" id="Wrangell-Petersburg"/>
      <area shape="poly" coords="677,329,698,358,722,377,730,384,775,403,770,391,763,368,754,364,756,359,747,353,740,348,725,348,723,338,713,321"  nohref="nohref" title="Prince of Wales-Outer Ketchikan" id="Prince of Wales-Outer Ketchikan"/>
      <area shape="poly" coords="771,353,791,357,798,375,797,390,795,395,779,395,768,385,763,368,775,358"  nohref="nohref" title="Ketchikan Gateway" id="Ketchikan Gateway"/>
    div(class="hide" id="display")

  table(class="table table-bordered")
    thead
      tr
        th(scope="col") Key
        th(scope="col") > 30
        th(scope="col") 30 - 20
        th(scope="col") 20 - 10
        th(scope="col") 10 - 5
        th(scope="col") 5 - 2.5
        th(scope="col") 2.5 - 1
        th(scope="col") Less than 1
        th(scope="col") 0
    tbody
      tr
        th(scope="row") Color
        td
          img(src="/images/darkgreen.png", alt="Green Square", height="25", width="25")
        td
          img(src="/images/lightGreen.png", alt="", height="25", width="25")
        td
          img(src="/images/yellow.png", alt="", height="25", width="25")
        td
          img(src="/images/lightYellow.png", alt="", height="25", width="25")
        td
          img(src="/images/darkOrange.png", alt="", height="25", width="25")
        td
          img(src="/images/lightOrangepng.png", alt="", height="25", width="25")
        td
          img(src="/images/red.png", alt="", height="25", width="25")
        td
          img(src="/images/darkRed.png", alt="", height="25", width="25")

  div
    -
      let moForestRes = `dispatch(\"missouriForestResidues\")`
      let iaForestRes = `dispatch(\"iowaForestResidues\")`
      let ksForestRes = `dispatch(\"kansasForestResidues\")`
      let arForestRes = `dispatch(\"arkansasForestResidues\")`
      let ndForestRes = `dispatch(\"northDakotaForestResidues\")`
      let okForestRes = `dispatch(\"oklahomaForestResidues\")`
      let neForestRes = `dispatch(\"nebraskaForestResidues\")`
      let ilForestRes = `dispatch(\"illinoisForestResidues\")`
      let kyForestRes = `dispatch(\"kentuckyForestResidues\")`
      let tnForestRes = `dispatch(\"tennesseeForestResidues\")`
      let msForestRes = `dispatch(\"mississippiForestResidues\")`
      let meForestRes = `dispatch(\"maineForestResidues\")`
      let nhForestRes = `dispatch(\"newHampshireForestResidues\")`
      let vtForestRes = `dispatch(\"vermontForestResidues\")`
      let maForestRes = `dispatch(\"massachusettsForestResidues\")`
      let nyForestRes = `dispatch(\"newYorkForestResidues\")`
      let riForestRes = `dispatch(\"rhodeIslandForestResidues\")`
      let ctForestRes = `dispatch(\"connecticutForestResidues\")`
      let njForestRes = `dispatch(\"newJerseyForestResidues\")`
      let paForestRes = `dispatch(\"pennsylvaniaForestResidues\")`
      let deForestRes = `dispatch(\"delawareForestResidues\")`
      let mdForestRes = `dispatch(\"marylandForestResidues\")`
      let vaForestRes = `dispatch(\"virginiaForestResidues\")`
      let ncForestRes = `dispatch(\"northCarolinaForestResidues\")`
      let scForestRes = `dispatch(\"southCarolinaForestResidues\")`
      let gaForestRes = `dispatch(\"georgiaForestResidues\")`
      let alForestRes = `dispatch(\"alabamaForestResidues\")`
      let wvForestRes = `dispatch(\"westVirginiaForestResidues\")`
      let ohForestRes = `dispatch(\"ohioForestResidues\")`
      let miForestRes = `dispatch(\"michiganForestResidues\")`
      let inForestRes = `dispatch(\"indianaForestResidues\")`
      let flForestRes = `dispatch(\"floridaForestResidues\")`
      let wiForestRes = `dispatch(\"wisconsinForestResidues\")`
      let mnForestRes = `dispatch(\"minnesotaForestResidues\")`
      let sdForestRes = `dispatch(\"southDakotaForestResidues\")`
      let mtForestRes = `dispatch(\"montanaForestResidues\")`
      let wyForestRes = `dispatch(\"wyomingForestResidues\")`
      let coForestRes = `dispatch(\"coloradoForestResidues\")`
      let nwForestRes = `dispatch(\"newMexicoForestResidues\")`
      let txForestRes = `dispatch(\"texasForestResidues\")`
      let azForestRes = `dispatch(\"arizonaForestResidues\")`
      let utForestRes = `dispatch(\"utahForestResidues\")`
      let idForestRes = `dispatch(\"idahoForestResidues\")`
      let waForestRes = `dispatch(\"washingtonForestResidues\")`
      let orForestRes = `dispatch(\"oregonForestResidues\")`
      let nvForestRes = `dispatch(\"nevadaForestResidues\")`
      let caForestRes = `dispatch(\"californiaForestResidues\")`
      let laForestRes = `dispatch(\"louisianaForestResidues\")`
      let akForestRes = `dispatch(\"alaskaForestResidues\")`
      let hiForestRes = `dispatch(\"hawaiiForestResidues\")`
    div
      button(type="button" class="btn btn-success" onClick=alForestRes) Go to Alabama Forest Residue
      button(type="button" class="btn btn-primary" onClick=akForestRes) Go to Alaska Forest Residues 
      button(type="button" class="btn btn-primary" onClick=azForestRes) Go to Arizona Forest Residues 
      br
      button(type="button" class="btn btn-success" onClick=arForestRes) Go to Arkansas Forest Residues
      button(type="button" class="btn btn-primary" onClick=caForestRes) Go to California Forest Residues
      button(type="button" class="btn btn-primary" onClick=coForestRes) Go to Colorado Forest Residue
      br
      button(type="button" class="btn btn-primary" onClick=ctForestRes) Go to Connecticut Forest Residues 
      button(type="button" class="btn btn-primary" onClick=deForestRes) Go to Delaware Forest Residues 
      button(type="button" class="btn btn-primary" onClick=flForestRes) Go to Florida Forest Residues
      br
      button(type="button" class="btn btn-primary" onClick=gaForestRes) Go to Georgia Forest Residues
      button(type="button" class="btn btn-primary" onClick=hiForestRes) Go to Hawaii Forest Residue
      button(type="button" class="btn btn-primary" onClick=idForestRes) Go to Idaho Forest Residues 
      br
      button(type="button" class="btn btn-primary" onClick=ilForestRes) Go to Illinois Forest Residues 
      button(type="button" class="btn btn-primary" onClick=inForestRes) Go to Indiana Forest Residues
      button(type="button" class="btn btn-success" onClick=iaForestRes) Go to Iowa Forest Residues
      br
      button(type="button" class="btn btn-success" onClick=ksForestRes) Go to Kansas Forest Residue
      button(type="button" class="btn btn-primary" onClick=kyForestRes) Go to Kentucky Forest Residues 
      button(type="button" class="btn btn-primary" onClick=laForestRes) Go to Louisiana Forest Residues 
      br
      button(type="button" class="btn btn-primary" onClick=meForestRes) Go to Maine Forest Residues
      button(type="button" class="btn btn-primary" onClick=mdForestRes) Go to Maryland Forest Residues
      button(type="button" class="btn btn-primary" onClick=maForestRes) Go to Massachusettes Forest Residue
      br
      button(type="button" class="btn btn-primary" onClick=miForestRes) Go to Michigan Forest Residues 
      button(type="button" class="btn btn-primary" onClick=mnForestRes) Go to Minnesota Forest Residues 
      button(type="button" class="btn btn-primary" onClick=msForestRes) Go to Mississippi Forest Residues
      br
      button(type="button" class="btn btn-success" onClick=moForestRes) Go to Missouri Forest Residues
      button(type="button" class="btn btn-primary" onClick=mtForestRes) Go to Montana Forest Residue
      button(type="button" class="btn btn-primary" onClick=neForestRes) Go to Nebraska Forest Residues 
      br
      button(type="button" class="btn btn-primary" onClick=nvForestRes) Go to Nevada Forest Residues 
      button(type="button" class="btn btn-primary" onClick=nhForestRes) Go to New Hampshire Forest Residues
      button(type="button" class="btn btn-primary" onClick=njForestRes) Go to New Jersey Forest Residues
      br
      button(type="button" class="btn btn-primary" onClick=nmForestRes) Go to New Mexico Forest Residue
      button(type="button" class="btn btn-primary" onClick=nyForestRes) Go to New York Forest Residues 
      button(type="button" class="btn btn-primary" onClick=ncForestRes) Go to North Carolina Forest Residues 
      br
      button(type="button" class="btn btn-primary" onClick=ndForestRes) Go to North Dakota Forest Residues
      button(type="button" class="btn btn-primary" onClick=ohForestRes) Go to Ohio Forest Residues
      button(type="button" class="btn btn-primary" onClick=okForestRes) Go to Oklahoma Forest Residue
      br
      button(type="button" class="btn btn-primary" onClick=orForestRes) Go to Orgeon Forest Residues 
      button(type="button" class="btn btn-primary" onClick=paForestRes) Go to Pennsylvania Forest Residues 
      button(type="button" class="btn btn-primary" onClick=riForestRes) Go to Rhode Island Forest Residues
      br
      button(type="button" class="btn btn-primary" onClick=scForestRes) Go to South Carolina Forest Residues
      button(type="button" class="btn btn-primary" onClick=sdForestRes) Go to South Dakota Forest Residue
      button(type="button" class="btn btn-primary" onClick=tnForestRes) Go to Tennessee Forest Residues 
      br
      button(type="button" class="btn btn-primary" onClick=txForestRes) Go to Texas Forest Residues 
      button(type="button" class="btn btn-primary" onClick=utForestRes) Go to Utah Forest Residues
      button(type="button" class="btn btn-primary" onClick=vtForestRes) Go to Vermont Forest Residues
      br
      button(type="button" class="btn btn-primary" onClick=vaForestRes) Go to Virginia Forest Residue
      button(type="button" class="btn btn-primary" onClick=waForestRes) Go to Washington Forest Residues 
      button(type="button" class="btn btn-primary" onClick=wvForestRes) Go to West Virginia Forest Residues 
      br
      button(type="button" class="btn btn-primary" onClick=wiForestRes) Go to Wisconsin Forest Residues
      button(type="button" class="btn btn-primary" onClick=wyForestRes) Go to Wyoming Forest Residues

    script.
      function dispatch(path){
        window.location.href=path
      }  

  script.
    function toDict(keys, values){
      var returnDict = []
      for (let i = 0; i < keys.length; i++){
        returnDict.push({key: keys[i], value: values[i]});
      }
      return returnDict;
    }
    
    // Creating arrays for each attribute from the CSV
    var countyText = "#{Counties}";
    var countyArray = countyText.split(",");

    var stateText = "#{States}";
    var stateArray = stateText.split(",");

    var tdtText = "#{TDT}";
    var tdtArray = tdtText.split(",");

    // Arrays to hold County data
    var testCounties = []
    var testCountiesTDT = []

    // Populating the arrays
    for (let s = 0; s < stateArray.length; s++){
      // Replace with state name
      if (stateArray[s] == "Alaska"){
        testCounties.push(countyArray[s])
        testCountiesTDT.push(tdtArray[s])
      }
    }

    // Creating the dictonary
    var finalDict = toDict(testCounties, testCountiesTDT)

    // Event Listener for hover of each area
    document.addEventListener('DOMContentLoaded', function() {
      var images = document.querySelectorAll('img[usemap]');
      images.forEach(function(image) {
        var mapid = image.getAttribute('usemap').substr(1);
        var imagewidth = image.naturalWidth;
        var imageheight = image.naturalHeight;
        var imagemap = document.querySelector('map[name="'+mapid+'"]');
        var areas = imagemap.querySelectorAll('area');
        image.removeAttribute('usemap');
        imagemap.remove();
        
        // create wrapper container
        var wrapper = document.createElement('div');
        wrapper.classList.add('imagemap');
        image.parentNode.insertBefore(wrapper, image);
        wrapper.appendChild(image);
        
        // create SVG overlay
        var svg = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
        svg.setAttribute('viewBox', `0 0 ${imagewidth} ${imageheight}`);
        svg.setAttribute('class', 'svg-overlay');
        wrapper.appendChild(svg);
        
        areas.forEach(function(area) {
          var coords = area.getAttribute('coords').split(',').map(Number);
          if (area.getAttribute('shape') === 'poly') {
            var pointsAttr = '';
            for (var i = 0; i < coords.length; i += 2) {
              var x = coords[i] - 478;
              var y = coords[i + 1] - 1;
              pointsAttr += `${x},${y} `;
            }
            var polygon = document.createElementNS('http://www.w3.org/2000/svg', 'polygon');
            polygon.setAttribute('points', pointsAttr.trim());
            polygon.setAttribute('class', 'area');
            polygon.setAttribute('data-href', area.getAttribute('href'));
            polygon.setAttribute('title', area.getAttribute('title'));

            for (let i = 0; i < finalDict.length; i++){
              if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 30){
                polygon.setAttribute('fill', 'rgba(38, 106, 46, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 20){
                polygon.setAttribute('fill', 'rgba(153, 204, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 10){
                polygon.setAttribute('fill', 'rgba(255, 204, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 5){
                polygon.setAttribute('fill', 'rgba(255, 255, 102, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 2.5){
                polygon.setAttribute('fill', 'rgba(255, 102, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 1){
                polygon.setAttribute('fill', 'rgba(255, 153, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 0){
                polygon.setAttribute('fill', 'rgba(255, 0, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else {
                polygon.setAttribute('fill', 'rgba(204, 0, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
              }
              
            }

            polygon.addEventListener('mouseover', showInfo);
            polygon.addEventListener('mouseout', hideInfo);
            svg.appendChild(polygon);
          }
        });
        
        // Add click event listener to SVG polygons
        svg.addEventListener('click', function(event) {
          if (event.target.tagName === 'polygon') {
            var href = event.target.getAttribute('data-href');
            if (href) {
              window.location.href = href;
            }
          }
        });
      });
    });
    // Show and Hide Functions
    function showInfo(event){
      let county = event.target.attributes.title.nodeValue;
          
      document.getElementById("display").innerHTML = county + " ";

      for (let i = 0; i < finalDict.length; i++){
        if (finalDict[i].key == county){
          document.getElementById("display").innerHTML += finalDict[i].value
        }
      }

      document.querySelector('.hide').style.display = 'block';

    }
    function hideInfo(){
      document.querySelector('.hide').style.display = 'none';
    }