extends layout

block content
  h1= title

  style.
    .imagemap {
      position: relative; 
      display: inline-block; 
      width: 100%; 
      height: auto;
    }
    .imagemap img {
      display: block; 
      width: 45%; 
      height: auto;
    }
    .svg-overlay {
      position: absolute; 
      top: 0; 
      left: 0; 
      width: 110%; 
      height: 100%; 
      pointer-events: none;
    }
    .area {
      stroke-width: 1; 
      pointer-events: all; 
      transition: fill 0.15s ease-in-out, stroke 0.15s ease-in-out;
    }
    .hide{
      display: none;
    }

  //Fill in the src for the state svg
  img(src="https://upload.wikimedia.org/wikipedia/commons/8/85/2010_United_States_Senate_election_in_Arizona_results_map_by_county.svg" alt="Map" usemap="#image-map" width="400" height="300")

  //Replace id with state map id and fill in the areas as children of the map
  div(class ="imagemap")
    map(name="image-map" id="azMap")
      <area shape="poly" coords="164,7,333,10,336,17,324,41,324,67,320,73,325,94,311,106,258,127,258,134,254,138,246,134,240,142,245,169,243,173,240,386,235,389,217,386,209,396,200,401,193,395,179,398,179,393,157,392,151,386,146,386,141,377,133,375,123,364,117,364,119,352,108,326,91,305,90,269,99,266,94,228,87,214,89,212,87,168,91,164,83,152,83,133,102,125,125,126,138,144,152,144,163,120"  nohref="nohref" title="Mohave" id="Mohave"/>
      <area shape="poly" coords="333,10,535,9,539,390,530,389,528,393,521,388,499,375,496,377,480,368,467,370,462,378,461,367,457,373,448,373,452,368,446,364,447,318,420,319,419,293,356,295,356,270,344,270,344,254,329,258,321,249,287,240,261,219,242,215,243,171,245,168,240,142,246,134,253,138,258,134,258,127,311,106,325,94,320,73,323,68,324,41,336,16"  nohref="nohref" title="Coconino" id="Coconino"/>
      <area shape="poly" coords="535,9,619,8,623,195,643,194,643,215,645,459,641,460,642,489,629,487,628,429,539,430,540,430"  nohref="nohref" title="Navajo" id="Navajo"/>
      <area shape="poly" coords="619,8,728,6,740,457,706,457,703,467,694,468,683,480,678,480,657,501,642,490,641,460,646,458,642,194,623,195"  nohref="nohref" title="Apache" id="Apache"/>
      <area shape="poly" coords="740,457,746,647,736,646,723,633,724,612,712,589,709,588,690,556,687,475,694,468,703,467,706,457"  nohref="nohref" title="Greenlee" id="Greenlee"/>
      <area shape="poly" coords="687,476,683,480,677,480,656,501,642,490,628,487,629,504,610,504,577,516,576,532,581,543,577,542,579,649,736,646,723,633,724,612,712,589,708,587,690,555"  nohref="nohref" title="Graham" id="Graham"/>
      <area shape="poly" coords="628,429,540,430,539,391,531,389,528,394,499,375,497,376,479,368,467,370,462,378,461,367,457,373,447,373,451,369,446,363,446,371,435,376,428,410,456,410,454,430,458,430,468,462,466,467,485,484,494,475,517,525,518,534,539,572,545,565,545,559,558,549,577,543,581,543,577,532,577,515,610,504,629,503"  nohref="nohref" title="Gila" id="Gila"/>
      <area shape="poly" coords="446,318,420,319,419,293,356,294,356,270,343,270,344,254,328,259,321,249,285,240,260,218,241,214,239,430,310,431,364,447,376,424,424,431,455,431,456,410,428,410,432,392,435,376,446,371"  nohref="nohref" title="Yavapai" id="Yavapai"/>
      <area shape="poly" coords="239,386,235,389,217,386,209,397,199,401,193,395,179,397,179,393,156,392,152,385,146,386,146,392,133,402,127,404,110,414,110,425,100,434,101,470,98,471,98,491,86,503,85,508,75,510,77,520,72,524,79,529,76,551,79,562,127,564,128,502,165,503,164,516,238,518"  nohref="nohref" title="La Paz" id="La Paz"/>
      <area shape="poly" coords="458,429,455,431,424,431,376,424,364,447,310,431,238,430,236,640,370,640,371,529,386,542,443,542,444,506,508,506,494,475,485,484,466,467,468,461,458,430"  nohref="nohref" title="Maricopa" id="Maricopa"/>
      <area shape="poly" coords="236,518,164,516,164,502,127,503,127,565,97,562,104,584,95,595,95,601,85,605,77,602,61,619,61,638,236,704"  nohref="nohref" title="Yuma" id="Yuma"/>
      <area shape="poly" coords="507,505,443,505,443,541,386,542,371,529,370,639,579,638,577,543,559,549,545,558,545,564,540,573,518,534,517,525"  nohref="nohref" title="Pinal" id="Pinal"/>
      <area shape="poly" coords="745,646,578,649,579,802,750,799"  nohref="nohref" title="Cochise" id="Cochise"/>
      <area shape="poly" coords="578,747,494,748,495,777,470,778,470,790,505,803,580,804"  nohref="nohref" title="Santa Cruz" id="Santa Cruz"/>
      <area shape="poly" coords="578,637,237,640,235,706,470,791,471,777,495,777,494,747,578,746"  nohref="nohref" title="Pima" id="Pima"/>

    div(class="hide" id="display")

  table(class="table table-bordered")
    thead
      tr
        th(scope="col") Key
        th(scope="col") > 30
        th(scope="col") 30 - 20
        th(scope="col") 20 - 10
        th(scope="col") 10 - 5
        th(scope="col") 5 - 2.5
        th(scope="col") 2.5 - 1
        th(scope="col") Less than 1
        th(scope="col") 0
    tbody
      tr
        th(scope="row") Color
        td
          img(src="/images/darkgreen.png", alt="Green Square", height="25", width="25")
        td
          img(src="/images/lightGreen.png", alt="", height="25", width="25")
        td
          img(src="/images/yellow.png", alt="", height="25", width="25")
        td
          img(src="/images/lightYellow.png", alt="", height="25", width="25")
        td
          img(src="/images/darkOrange.png", alt="", height="25", width="25")
        td
          img(src="/images/lightOrangepng.png", alt="", height="25", width="25")
        td
          img(src="/images/red.png", alt="", height="25", width="25")
        td
          img(src="/images/darkRed.png", alt="", height="25", width="25")

  div
    -
      let moForestRes = `dispatch(\"missouriForestResidues\")`
      let iaForestRes = `dispatch(\"iowaForestResidues\")`
      let ksForestRes = `dispatch(\"kansasForestResidues\")`
      let arForestRes = `dispatch(\"arkansasForestResidues\")`
      let ndForestRes = `dispatch(\"northDakotaForestResidues\")`
      let okForestRes = `dispatch(\"oklahomaForestResidues\")`
      let neForestRes = `dispatch(\"nebraskaForestResidues\")`
      let ilForestRes = `dispatch(\"illinoisForestResidues\")`
      let kyForestRes = `dispatch(\"kentuckyForestResidues\")`
      let tnForestRes = `dispatch(\"tennesseeForestResidues\")`
      let msForestRes = `dispatch(\"mississippiForestResidues\")`
      let meForestRes = `dispatch(\"maineForestResidues\")`
      let nhForestRes = `dispatch(\"newHampshireForestResidues\")`
      let vtForestRes = `dispatch(\"vermontForestResidues\")`
      let maForestRes = `dispatch(\"massachusettsForestResidues\")`
      let nyForestRes = `dispatch(\"newYorkForestResidues\")`
      let riForestRes = `dispatch(\"rhodeIslandForestResidues\")`
      let ctForestRes = `dispatch(\"connecticutForestResidues\")`
      let njForestRes = `dispatch(\"newJerseyForestResidues\")`
      let paForestRes = `dispatch(\"pennsylvaniaForestResidues\")`
      let deForestRes = `dispatch(\"delawareForestResidues\")`
      let mdForestRes = `dispatch(\"marylandForestResidues\")`
      let vaForestRes = `dispatch(\"virginiaForestResidues\")`
      let ncForestRes = `dispatch(\"northCarolinaForestResidues\")`
      let scForestRes = `dispatch(\"southCarolinaForestResidues\")`
      let gaForestRes = `dispatch(\"georgiaForestResidues\")`
      let alForestRes = `dispatch(\"alabamaForestResidues\")`
      let wvForestRes = `dispatch(\"westVirginiaForestResidues\")`
      let ohForestRes = `dispatch(\"ohioForestResidues\")`
      let miForestRes = `dispatch(\"michiganForestResidues\")`
      let inForestRes = `dispatch(\"indianaForestResidues\")`
      let flForestRes = `dispatch(\"floridaForestResidues\")`
      let wiForestRes = `dispatch(\"wisconsinForestResidues\")`
      let mnForestRes = `dispatch(\"minnesotaForestResidues\")`
      let sdForestRes = `dispatch(\"southDakotaForestResidues\")`
      let mtForestRes = `dispatch(\"montanaForestResidues\")`
      let wyForestRes = `dispatch(\"wyomingForestResidues\")`
      let coForestRes = `dispatch(\"coloradoForestResidues\")`
      let nwForestRes = `dispatch(\"newMexicoForestResidues\")`
      let txForestRes = `dispatch(\"texasForestResidues\")`
      let azForestRes = `dispatch(\"arizonaForestResidues\")`
      let utForestRes = `dispatch(\"utahForestResidues\")`
      let idForestRes = `dispatch(\"idahoForestResidues\")`
      let waForestRes = `dispatch(\"washingtonForestResidues\")`
      let orForestRes = `dispatch(\"oregonForestResidues\")`
      let nvForestRes = `dispatch(\"nevadaForestResidues\")`
      let caForestRes = `dispatch(\"californiaForestResidues\")`
      let laForestRes = `dispatch(\"louisianaForestResidues\")`
      let akForestRes = `dispatch(\"alaskaForestResidues\")`
      let hiForestRes = `dispatch(\"hawaiiForestResidues\")`
    div
      button(type="button" class="btn btn-success" onClick=alForestRes) Go to Alabama Forest Residue
      button(type="button" class="btn btn-primary" onClick=akForestRes) Go to Alaska Forest Residues 
      button(type="button" class="btn btn-primary" onClick=azForestRes) Go to Arizona Forest Residues 
      br
      button(type="button" class="btn btn-success" onClick=arForestRes) Go to Arkansas Forest Residues
      button(type="button" class="btn btn-primary" onClick=caForestRes) Go to California Forest Residues
      button(type="button" class="btn btn-primary" onClick=coForestRes) Go to Colorado Forest Residue
      br
      button(type="button" class="btn btn-primary" onClick=ctForestRes) Go to Connecticut Forest Residues 
      button(type="button" class="btn btn-primary" onClick=deForestRes) Go to Delaware Forest Residues 
      button(type="button" class="btn btn-primary" onClick=flForestRes) Go to Florida Forest Residues
      br
      button(type="button" class="btn btn-primary" onClick=gaForestRes) Go to Georgia Forest Residues
      button(type="button" class="btn btn-primary" onClick=hiForestRes) Go to Hawaii Forest Residue
      button(type="button" class="btn btn-primary" onClick=idForestRes) Go to Idaho Forest Residues 
      br
      button(type="button" class="btn btn-primary" onClick=ilForestRes) Go to Illinois Forest Residues 
      button(type="button" class="btn btn-primary" onClick=inForestRes) Go to Indiana Forest Residues
      button(type="button" class="btn btn-success" onClick=iaForestRes) Go to Iowa Forest Residues
      br
      button(type="button" class="btn btn-success" onClick=ksForestRes) Go to Kansas Forest Residue
      button(type="button" class="btn btn-primary" onClick=kyForestRes) Go to Kentucky Forest Residues 
      button(type="button" class="btn btn-primary" onClick=laForestRes) Go to Louisiana Forest Residues 
      br
      button(type="button" class="btn btn-primary" onClick=meForestRes) Go to Maine Forest Residues
      button(type="button" class="btn btn-primary" onClick=mdForestRes) Go to Maryland Forest Residues
      button(type="button" class="btn btn-primary" onClick=maForestRes) Go to Massachusettes Forest Residue
      br
      button(type="button" class="btn btn-primary" onClick=miForestRes) Go to Michigan Forest Residues 
      button(type="button" class="btn btn-primary" onClick=mnForestRes) Go to Minnesota Forest Residues 
      button(type="button" class="btn btn-primary" onClick=msForestRes) Go to Mississippi Forest Residues
      br
      button(type="button" class="btn btn-success" onClick=moForestRes) Go to Missouri Forest Residues
      button(type="button" class="btn btn-primary" onClick=mtForestRes) Go to Montana Forest Residue
      button(type="button" class="btn btn-primary" onClick=neForestRes) Go to Nebraska Forest Residues 
      br
      button(type="button" class="btn btn-primary" onClick=nvForestRes) Go to Nevada Forest Residues 
      button(type="button" class="btn btn-primary" onClick=nhForestRes) Go to New Hampshire Forest Residues
      button(type="button" class="btn btn-primary" onClick=njForestRes) Go to New Jersey Forest Residues
      br
      button(type="button" class="btn btn-primary" onClick=nmForestRes) Go to New Mexico Forest Residue
      button(type="button" class="btn btn-primary" onClick=nyForestRes) Go to New York Forest Residues 
      button(type="button" class="btn btn-primary" onClick=ncForestRes) Go to North Carolina Forest Residues 
      br
      button(type="button" class="btn btn-primary" onClick=ndForestRes) Go to North Dakota Forest Residues
      button(type="button" class="btn btn-primary" onClick=ohForestRes) Go to Ohio Forest Residues
      button(type="button" class="btn btn-primary" onClick=okForestRes) Go to Oklahoma Forest Residue
      br
      button(type="button" class="btn btn-primary" onClick=orForestRes) Go to Orgeon Forest Residues 
      button(type="button" class="btn btn-primary" onClick=paForestRes) Go to Pennsylvania Forest Residues 
      button(type="button" class="btn btn-primary" onClick=riForestRes) Go to Rhode Island Forest Residues
      br
      button(type="button" class="btn btn-primary" onClick=scForestRes) Go to South Carolina Forest Residues
      button(type="button" class="btn btn-primary" onClick=sdForestRes) Go to South Dakota Forest Residue
      button(type="button" class="btn btn-primary" onClick=tnForestRes) Go to Tennessee Forest Residues 
      br
      button(type="button" class="btn btn-primary" onClick=txForestRes) Go to Texas Forest Residues 
      button(type="button" class="btn btn-primary" onClick=utForestRes) Go to Utah Forest Residues
      button(type="button" class="btn btn-primary" onClick=vtForestRes) Go to Vermont Forest Residues
      br
      button(type="button" class="btn btn-primary" onClick=vaForestRes) Go to Virginia Forest Residue
      button(type="button" class="btn btn-primary" onClick=waForestRes) Go to Washington Forest Residues 
      button(type="button" class="btn btn-primary" onClick=wvForestRes) Go to West Virginia Forest Residues 
      br
      button(type="button" class="btn btn-primary" onClick=wiForestRes) Go to Wisconsin Forest Residues
      button(type="button" class="btn btn-primary" onClick=wyForestRes) Go to Wyoming Forest Residues

    script.
      function dispatch(path){
        window.location.href=path
      }  

  script.
    function toDict(keys, values){
      var returnDict = []
      for (let i = 0; i < keys.length; i++){
        returnDict.push({key: keys[i], value: values[i]});
      }
      return returnDict;
    }
    
    // Creating arrays for each attribute from the CSV
    var countyText = "#{Counties}";
    var countyArray = countyText.split(",");

    var stateText = "#{States}";
    var stateArray = stateText.split(",");

    var tdtText = "#{TDT}";
    var tdtArray = tdtText.split(",");

    // Arrays to hold County data
    var testCounties = []
    var testCountiesTDT = []

    // Populating the arrays
    for (let s = 0; s < stateArray.length; s++){
      // Replace with state name
      if (stateArray[s] == "Arizona"){
        testCounties.push(countyArray[s])
        testCountiesTDT.push(tdtArray[s])
      }
    }

    // Creating the dictonary
    var finalDict = toDict(testCounties, testCountiesTDT)

    // Event Listener for hover of each area
    document.addEventListener('DOMContentLoaded', function() {
      var images = document.querySelectorAll('img[usemap]');
      images.forEach(function(image) {
        var mapid = image.getAttribute('usemap').substr(1);
        var imagewidth = image.naturalWidth;
        var imageheight = image.naturalHeight;
        var imagemap = document.querySelector('map[name="'+mapid+'"]');
        var areas = imagemap.querySelectorAll('area');
        image.removeAttribute('usemap');
        imagemap.remove();
        
        // create wrapper container
        var wrapper = document.createElement('div');
        wrapper.classList.add('imagemap');
        image.parentNode.insertBefore(wrapper, image);
        wrapper.appendChild(image);
        
        // create SVG overlay
        var svg = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
        svg.setAttribute('viewBox', `0 0 ${imagewidth} ${imageheight}`);
        svg.setAttribute('class', 'svg-overlay');
        wrapper.appendChild(svg);
        
        areas.forEach(function(area) {
          var coords = area.getAttribute('coords').split(',').map(Number);
          if (area.getAttribute('shape') === 'poly') {
            var pointsAttr = '';
            for (var i = 0; i < coords.length; i += 2) {
              var x = coords[i] - 583;
              var y = coords[i + 1] + 2;
              pointsAttr += `${x},${y} `;
            }
            var polygon = document.createElementNS('http://www.w3.org/2000/svg', 'polygon');
            polygon.setAttribute('points', pointsAttr.trim());
            polygon.setAttribute('class', 'area');
            polygon.setAttribute('data-href', area.getAttribute('href'));
            polygon.setAttribute('title', area.getAttribute('title'));

            for (let i = 0; i < finalDict.length; i++){
              if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 30){
                polygon.setAttribute('fill', 'rgba(38, 106, 46, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 20){
                polygon.setAttribute('fill', 'rgba(153, 204, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 10){
                polygon.setAttribute('fill', 'rgba(255, 204, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 5){
                polygon.setAttribute('fill', 'rgba(255, 255, 102, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 2.5){
                polygon.setAttribute('fill', 'rgba(255, 102, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 1){
                polygon.setAttribute('fill', 'rgba(255, 153, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 0){
                polygon.setAttribute('fill', 'rgba(255, 0, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else {
                polygon.setAttribute('fill', 'rgba(204, 0, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
              }
              
            }

            polygon.addEventListener('mouseover', showInfo);
            polygon.addEventListener('mouseout', hideInfo);
            svg.appendChild(polygon);
          }
        });
        
        // Add click event listener to SVG polygons
        svg.addEventListener('click', function(event) {
          if (event.target.tagName === 'polygon') {
            var href = event.target.getAttribute('data-href');
            if (href) {
              window.location.href = href;
            }
          }
        });
      });
    });
    // Show and Hide Functions
    function showInfo(event){
      let county = event.target.attributes.title.nodeValue;
          
      document.getElementById("display").innerHTML = county + " ";

      for (let i = 0; i < finalDict.length; i++){
        if (finalDict[i].key == county){
          document.getElementById("display").innerHTML += finalDict[i].value
        }
      }

      document.querySelector('.hide').style.display = 'block';

    }
    function hideInfo(){
      document.querySelector('.hide').style.display = 'none';
    }