doctype html
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Biomass Data Charts
  body
    h1 Biomass Data Charts
    div
      -
        let priceBy = `dispatch(\"/priceByRegion\")`
        let quantAndAvg = `dispatch(\"QandAPofDB\")`
        let moForestRes = `dispatch(\"missouriForestResidues\")`
        let iaForestRes = `dispatch(\"iowaForestResidues\")`
        let ksForestRes = `dispatch(\"kansasForestResidues\")`
        let arForestRes = `dispatch(\"arkansasForestResidues\")`
      div
        button(type="button" class="btn btn-primary" onClick=priceBy) Go to Price by Region
        br
        button(type="button" class="btn btn-primary" onClick=quantAndAvg) Go to Quantity and Price Over Time
        br
        button(type="button" class="btn btn-primary" onClick=moForestRes) Go to Missouri Forest Residue
        br
        button(type="button" class="btn btn-primary" onClick=iaForestRes) Go to Iowa Forest Residues 
        br
        button(type="button" class="btn btn-primary" onClick=ksForestRes) Go to Kansas Forest Residues 
        br
        button(type="button" class="btn btn-primary" onClick=arForestRes) Go to Arkansas Forest Residues 

    script.
      function dispatch(path){
        window.location.href=path
      }