extends layout

block content
  h1= title

  style.
    .imagemap {
      position: relative; 
      display: inline-block; 
      width: 100%; 
      height: auto;
    }
    .imagemap img {
      display: block; 
      width: 50%; 
      height: auto;
    }
    .svg-overlay {
      position: absolute; 
      top: 0; 
      left: 0; 
      width: 110%; 
      height: 99%; 
      pointer-events: none;
    }
    .area {
      stroke-width: 1; 
      pointer-events: all; 
      transition: fill 0.15s ease-in-out, stroke 0.15s ease-in-out;
    }
    .hide{
      display: none;
    }

  img(src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Kansas_counties_by_race.svg" alt="Map" usemap="#image-map" width="400" height="300")

  //Replace id with state map id and fill in the areas as children of the map
  div(class ="imagemap")
    map(name="image-map" id="ksMap")
      <area shape="poly" coords="15,5,39,6,39,27,15,27"  nohref="nohref" title="Cheyenne" id="Cheyenne"/>
      <area shape="poly" coords="39,6,62,7,62,27,39,27"  nohref="nohref" title="Rawlins" id="Rawlins"/>
      <area shape="poly" coords="62,7,82,7,82,28,62,27"  nohref="nohref" title="Decatur" id="Decatur"/>
      <area shape="poly" coords="82,7,101,7,101,28,82,28"  nohref="nohref" title="Norton" id="Norton"/>
      <area shape="poly" coords="101,8,121,8,121,28,101,28"  nohref="nohref" title="Phillips" id="Phillips"/>
      <area shape="poly" coords="121,8,141,8,141,29,121,29"  nohref="nohref" title="Smith" id="Smith"/>
      <area shape="poly" coords="141,8,161,8,161,29,141,29"  nohref="nohref" title="Jewell" id="Jewell"/>
      <area shape="poly" coords="161,8,181,8,181,25,161,25"  nohref="nohref" title="Republic" id="Republic"/>
      <area shape="poly" coords="181,8,201,8,201,28,181,28"  nohref="nohref" title="Washington" id="Washington"/>
      <area shape="poly" coords="201,8,221,8,221,28,201,28"  nohref="nohref" title="Marshall" id="Marshall"/>
      <area shape="poly" coords="221,7,237,7,237,23,229,28,221,28"  nohref="nohref" title="Nemaha" id="Nemaha"/>
      <area shape="poly" coords="237,7,253,7,253,23,237,23"  nohref="nohref" title="Brown" id="Brown"/>
      <area shape="poly" coords="253,7,255,7,261,13,264,13,265,11,266,11,269,14,269,19,264,23,253,23"  nohref="nohref" title="Doniphan" id="Doniphan"/>
      <area shape="poly" coords="264,23,264,25,263,26,263,29,268,34,245,34,245,23"  nohref="nohref" title="Atchison" id="Atchison"/>
      <area shape="poly" coords="245,23,237,23,229,28,229,44,245,44"  nohref="nohref" title="Jackson" id="Jackson"/>
      <area shape="poly" coords="229,28,209,28,204,33,204,37,207,42,211,46,216,47,219,47,219,45,229,45"  nohref="nohref" title="Pottawatomie" id="Pottawatomie"/>
      <area shape="poly" coords="209,28,196,28,196,44,201,44,201,51,214,51,216,47,211,46,207,42,204,37,204,33"  nohref="nohref" title="Riley" id="Riley"/>
      <area shape="poly" coords="196,28,181,28,181,49,196,49"  nohref="nohref" title="Clay" id="Clay"/>
      <area shape="poly" coords="181,25,161,25,161,41,181,41"  nohref="nohref" title="Cloud" id="Cloud"/>
      <area shape="poly" coords="161,29,141,29,141,45,161,45"  nohref="nohref" title="Mitchell" id="Mitchell"/>
      <area shape="poly" coords="141,29,122,29,122,49,141,49"  nohref="nohref" title="Osborn" id="Osborn"/>
      <area shape="poly" coords="121,28,102,28,102,49,122,49,122,29,121,29"  nohref="nohref" title="Rooks" id="Rooks"/>
      <area shape="poly" coords="102,28,82,28,82,48,102,48"  nohref="nohref" title="Graham" id="Graham"/>
      <area shape="poly" coords="82,28,62,27,62,48,82,48"  nohref="nohref" title="Sheridan" id="Sheridan"/>
      <area shape="poly" coords="62,27,38,27,38,47,52,47,52,48,62,48"  nohref="nohref" title="Thomas" id="Thomas"/>
      <area shape="poly" coords="38,27,14,27,14,47,38,47"  nohref="nohref" title="Sherman" id="Sherman"/>
      <area shape="poly" coords="14,47,14,67,34,67,34,47"  nohref="nohref" title="Wallace" id="Wallace"/>
      <area shape="poly" coords="34,47,34,67,58,67,58,48,52,48,52,47"  nohref="nohref" title="Logan" id="Logan"/>
      <area shape="poly" coords="58,48,58,68,82,68,82,48"  nohref="nohref" title="Gove" id="Gove"/>
      <area shape="poly" coords="82,48,82,69,102,69,102,48"  nohref="nohref" title="Trego" id="Trego"/>
      <area shape="poly" coords="102,49,102,69,122,69,122,49"  nohref="nohref" title="Ellis" id="Ellis"/>
      <area shape="poly" coords="122,49,122,69,142,69,142,49"  nohref="nohref" title="Russell" id="Russell"/>
      <area shape="poly" coords="141,45,141,49,142,49,142,61,161,61,161,45"  nohref="nohref" title="Lincoln" id="Lincoln"/>
      <area shape="poly" coords="161,41,161,57,181,57,181,41"  nohref="nohref" title="Ottawa" id="Ottawa"/>
      <area shape="poly" coords="181,49,181,73,198,73,198,58,197,58,197,54,196,54,196,49"  nohref="nohref" title="Dickinson" id="Dickinson"/>
      <area shape="poly" coords="196,44,201,44,201,51,213,51,213,61,198,61,198,58,197,58,197,54,196,54"  nohref="nohref" title="Geary" id="Geary"/>
      <area shape="poly" coords="216,47,219,47,219,45,229,45,229,51,230,51,230,55,231,56,231,59,232,59,232,66,218,66,213,61,213,51,214,51"  nohref="nohref" title="Wabaunsee" id="Wabaunsee"/>
      <area shape="poly" coords="229,44,229,51,230,51,230,55,231,56,231,59,232,59,232,60,248,60,248,51,245,44"  nohref="nohref" title="Shawnee" id="Shawnee"/>
      <area shape="poly" coords="245,34,245,44,248,51,260,51,260,34"  nohref="nohref" title="Jefferson" id="Jefferson"/>
      <area shape="poly" coords="260,34,260,51,264,53,269,53,269,43,273,43,268,34"  nohref="nohref" title="Levenworth" id="Levenworth"/>
      <area shape="poly" coords="273,43,281,45,281,51,269,51,269,43"  nohref="nohref" title="Wyandotte" id="Wyandotte"/>
      <area shape="poly" coords="281,51,281,65,264,65,264,53,269,53,269,51"  nohref="nohref" title="Johnson" id="Johnson"/>
      <area shape="poly" coords="264,53,264,66,248,66,248,51,260,51"  nohref="nohref" title="Douglas" id="Douglas"/>
      <area shape="poly" coords="248,60,232,60,232,66,233,66,233,80,248,80"  nohref="nohref" title="Osage" id="Osage"/>
      <area shape="poly" coords="233,66,218,66,218,93,233,93"  nohref="nohref" title="Lyon" id="Lyon"/>
      <area shape="poly" coords="218,66,213,61,198,61,198,73,202,77,218,77"  nohref="nohref" title="Morris" id="Morris"/>
      <area shape="poly" coords="181,57,161,57,161,73,181,73"  nohref="nohref" title="Saline" id="Saline"/>
      <area shape="poly" coords="161,61,142,61,142,78,161,78"  nohref="nohref" title="Ellsworth" id="Ellsworth"/>
      <area shape="poly" coords="142,69,122,69,122,85,126,90,142,90"  nohref="nohref" title="Barton" id="Barton"/>
      <area shape="poly" coords="122,69,102,69,102,85,122,85"  nohref="nohref" title="Rush" id="Rush"/>
      <area shape="poly" coords="102,69,82,69,82,68,78,68,78,89,102,89"  nohref="nohref" title="Ness" id="Ness"/>
      <area shape="poly" coords="78,68,62,68,62,89,78,89"  nohref="nohref" title="Lane" id="Lane"/>
      <area shape="poly" coords="62,68,58,68,58,67,46,67,46,88,62,88"  nohref="nohref" title="Scott" id="Scott"/>
      <area shape="poly" coords="46,67,30,67,30,88,46,88"  nohref="nohref" title="Wichita" id="Wichita"/>
      <area shape="poly" coords="30,67,13,67,13,87,30,87"  nohref="nohref" title="Greeley" id="Greeley"/>
      <area shape="poly" coords="12,87,12,112,31,112,31,88,30,88,30,87"  nohref="nohref" title="Hamilton" id="Hamilton"/>
      <area shape="poly" coords="31,88,47,88,46,112,31,112"  nohref="nohref" title="Kearny" id="Kearny"/>
      <area shape="poly" coords="47,88,62,88,62,89,78,89,78,101,62,101,62,113,46,113"  nohref="nohref" title="Finney" id="Finney"/>
      <area shape="poly" coords="78,89,78,105,102,105,102,89"  nohref="nohref" title="Hodgeman" id="Hodgeman"/>
      <area shape="poly" coords="102,85,102,98,111,98,111,102,126,102,126,90,122,85"  nohref="nohref" title="Pawnee" id="Pawnee"/>
      <area shape="poly" coords="126,90,142,90,142,110,122,111,122,102,126,102"  nohref="nohref" title="Stafford" id="Stafford"/>
      <area shape="poly" coords="142,78,162,78,162,94,142,94"  nohref="nohref" title="Rice" id="Rice"/>
      <area shape="poly" coords="161,73,182,73,182,94,162,94,162,78,161,78"  nohref="nohref" title="McPherson" id="McPherson"/>
      <area shape="poly" coords="142,94,142,114,166,114,170,107,170,94"  nohref="nohref" title="Reno" id="Reno"/>
      <area shape="poly" coords="170,94,170,106,190,106,190,98,182,94"  nohref="nohref" title="Harvey" id="Harvey"/>
      <area shape="poly" coords="182,73,182,94,190,98,201,98,201,85,202,85,202,77,198,73"  nohref="nohref" title="Marion" id="Marion"/>
      <area shape="poly" coords="202,77,202,85,201,85,201,98,213,98,218,93,218,77"  nohref="nohref" title="Chase" id="Chase"/>
      <area shape="poly" coords="233,80,249,80,249,99,233,99"  nohref="nohref" title="Coffey" id="Coffey"/>
      <area shape="poly" coords="248,66,264,66,264,65,265,65,265,82,249,82,249,80,248,80"  nohref="nohref" title="Franklin" id="Franklin"/>
      <area shape="poly" coords="265,65,282,65,282,81,265,81"  nohref="nohref" title="Miami" id="Miami"/>
      <area shape="poly" coords="282,81,282,98,265,98,265,81"  nohref="nohref" title="Linn" id="Linn"/>
      <area shape="poly" coords="265,82,249,82,249,99,265,99"  nohref="nohref" title="Anderson" id="Anderson"/>
      <area shape="poly" coords="283,98,265,98,265,115,283,115"  nohref="nohref" title="Bourbon" id="Bourbon"/>
      <area shape="poly" coords="265,99,249,99,249,113,265,113"  nohref="nohref" title="Allen" id="Allen"/>
      <area shape="poly" coords="249,99,233,99,233,113,249,113"  nohref="nohref" title="Woodson" id="Woodson"/>
      <area shape="poly" coords="233,93,218,93,213,98,213,120,233,120"  nohref="nohref" title="Greenwood" id="Greenwood"/>
      <area shape="poly" coords="213,98,190,98,190,126,213,126"  nohref="nohref" title="Butler" id="Butler"/>
      <area shape="poly" coords="190,106,170,106,170,107,166,114,166,126,190,126"  nohref="nohref" title="Sedgwick" id="Sedgwick"/>
      <area shape="poly" coords="166,114,142,114,142,126,147,131,166,131"  nohref="nohref" title="Kingman" id="Kingman"/>
      <area shape="poly" coords="141,110,122,111,122,127,142,127,142,110"  nohref="nohref" title="Pratt" id="Pratt"/>
      <area shape="poly" coords="111,98,102,98,102,114,122,114,122,102,111,102"  nohref="nohref" title="Edwards" id="Edwards"/>
      <area shape="poly" coords="122,114,102,114,102,131,122,131"  nohref="nohref" title="Kiowa" id="Kiowa"/>
      <area shape="poly" coords="102,105,78,105,78,126,102,126"  nohref="nohref" title="Ford" id="Ford"/>
      <area shape="poly" coords="78,101,62,101,62,126,78,126"  nohref="nohref" title="Gray" id="Gray"/>
      <area shape="poly" coords="62,113,46,113,46,129,62,129"  nohref="nohref" title="Haskell" id="Haskell"/>
      <area shape="poly" coords="46,112,30,112,30,129,46,129"  nohref="nohref" title="Grant" id="Grant"/>
      <area shape="poly" coords="30,112,11,112,11,129,30,128"  nohref="nohref" title="Stanton" id="Stanton"/>
      <area shape="poly" coords="11,129,10,147,29,147,29,128"  nohref="nohref" title="Morton" id="Morton"/>
      <area shape="poly" coords="29,128,30,128,30,129,47,129,47,148,29,148"  nohref="nohref" title="Stevens" id="Stevens"/>
      <area shape="poly" coords="47,129,47,148,62,148,62,129"  nohref="nohref" title="Seward" id="Seward"/>
      <area shape="poly" coords="62,126,62,148,82,148,82,126"  nohref="nohref" title="Meade" id="Meade"/>
      <area shape="poly" coords="82,126,82,149,102,149,102,126"  nohref="nohref" title="Clark" id="Clark"/>
      <area shape="poly" coords="102,131,102,149,122,149,122,131"  nohref="nohref" title="Comanche" id="Comanche"/>
      <area shape="poly" coords="122,127,122,149,146,149,146,130,142,126,142,127"  nohref="nohref" title="Barber" id="Barber"/>
      <area shape="poly" coords="146,130,146,150,166,150,166,131,147,131"  nohref="nohref" title="Harper" id="Harper"/>
      <area shape="poly" coords="166,126,166,150,190,149,190,126"  nohref="nohref" title="Sumner" id="Sumner"/>
      <area shape="poly" coords="190,126,190,149,213,149,213,126"  nohref="nohref" title="Cowley" id="Cowley"/>
      <area shape="poly" coords="213,120,213,134,234,134,234,120"  nohref="nohref" title="Elk" id="Elk"/>
      <area shape="poly" coords="233,113,233,120,234,120,234,130,249,130,249,113"  nohref="nohref" title="Wilson" id="Wilson"/>
      <area shape="poly" coords="213,134,213,149,234,149,234,134"  nohref="nohref" title="Chatauqua" id="Chatauqua"/>
      <area shape="poly" coords="234,130,234,149,250,148,250,130"  nohref="nohref" title="Montgomery" id="Montgomery"/>
      <area shape="poly" coords="249,113,249,129,265,129,265,113"  nohref="nohref" title="Neosho" id="Neosho"/>
      <area shape="poly" coords="249,129,249,130,250,130,250,148,267,148,267,129"  nohref="nohref" title="Labette" id="Labette"/>
      <area shape="poly" coords="265,115,283,115,283,131,267,131,267,129,265,129"  nohref="nohref" title="Crawford" id="Crawford"/>
      <area shape="poly" coords="267,131,284,131,284,147,267,148"  nohref="nohref" title="Cherokee" id="Cherokee"/>
    div(class="hide" id="display")

  table(class="table table-bordered")
    thead
      tr
        th(scope="col") Key
        th(scope="col") > 30
        th(scope="col") 30 - 20
        th(scope="col") 20 - 10
        th(scope="col") 10 - 5
        th(scope="col") 5 - 2.5
        th(scope="col") 2.5 - 1
        th(scope="col") Less than 1
        th(scope="col") 0
    tbody
      tr
        th(scope="row") Color
        td
          img(src="/images/darkgreen.png", alt="Green Square", height="25", width="25")
        td
          img(src="/images/lightGreen.png", alt="", height="25", width="25")
        td
          img(src="/images/yellow.png", alt="", height="25", width="25")
        td
          img(src="/images/lightYellow.png", alt="", height="25", width="25")
        td
          img(src="/images/darkOrange.png", alt="", height="25", width="25")
        td
          img(src="/images/lightOrangepng.png", alt="", height="25", width="25")
        td
          img(src="/images/red.png", alt="", height="25", width="25")
        td
          img(src="/images/darkRed.png", alt="", height="25", width="25")

  div
    -
      let moForestRes = `dispatch(\"missouriForestResidues\")`
      let iaForestRes = `dispatch(\"iowaForestResidues\")`
      let ksForestRes = `dispatch(\"kansasForestResidues\")`
    div
      button(type="button" class="btn btn-primary" onClick=moForestRes) Go to Missouri Forest Residue
      br
      button(type="button" class="btn btn-primary" onClick=iaForestRes) Go to Iowa Forest Residues 
      br
      button(type="button" class="btn btn-primary" onClick=ksForestRes) Go to Kansas Forest Residues

  script.
      function dispatch(path){
        window.location.href=path
      } 

  script.
    function toDict(keys, values){
      var returnDict = []
      for (let i = 0; i < keys.length; i++){
        returnDict.push({key: keys[i], value: values[i]});
      }
      return returnDict;
    }
    
    // Creating arrays for each attribute from the CSV
    var countyText = "#{Counties}";
    var countyArray = countyText.split(",");

    var stateText = "#{States}";
    var stateArray = stateText.split(",");

    var tdtText = "#{TDT}";
    var tdtArray = tdtText.split(",");

    // Arrays to hold County data
    var testCounties = []
    var testCountiesTDT = []

    // Populating the arrays
    for (let s = 0; s < stateArray.length; s++){
      // Replace with state name
      if (stateArray[s] == "Kansas"){
        testCounties.push(countyArray[s])
        testCountiesTDT.push(tdtArray[s])
      }
    }

    // Creating the dictonary
    var finalDict = toDict(testCounties, testCountiesTDT)

    // Event Listener for hover of each area
    document.addEventListener('DOMContentLoaded', function() {
      var images = document.querySelectorAll('img[usemap]');
      images.forEach(function(image) {
        var mapid = image.getAttribute('usemap').substr(1);
        var imagewidth = image.naturalWidth;
        var imageheight = image.naturalHeight;
        var imagemap = document.querySelector('map[name="'+mapid+'"]');
        var areas = imagemap.querySelectorAll('area');
        image.removeAttribute('usemap');
        imagemap.remove();
        
        // create wrapper container
        var wrapper = document.createElement('div');
        wrapper.classList.add('imagemap');
        image.parentNode.insertBefore(wrapper, image);
        wrapper.appendChild(image);
        
        // create SVG overlay
        var svg = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
        svg.setAttribute('viewBox', `0 0 ${imagewidth} ${imageheight}`);
        svg.setAttribute('class', 'svg-overlay');
        wrapper.appendChild(svg);
        
        areas.forEach(function(area) {
          var coords = area.getAttribute('coords').split(',').map(Number);
          if (area.getAttribute('shape') === 'poly') {
            var pointsAttr = '';
            for (var i = 0; i < coords.length; i += 2) {
              var x = coords[i] - 178;
              var y = coords[i + 1] + 1;
              pointsAttr += `${x},${y} `;
            }
            var polygon = document.createElementNS('http://www.w3.org/2000/svg', 'polygon');
            polygon.setAttribute('points', pointsAttr.trim());
            polygon.setAttribute('class', 'area');
            polygon.setAttribute('data-href', area.getAttribute('href'));
            polygon.setAttribute('title', area.getAttribute('title'));

            for (let i = 0; i < finalDict.length; i++){
              if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 30){
                polygon.setAttribute('fill', 'rgba(38, 106, 46, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 20){
                polygon.setAttribute('fill', 'rgba(153, 204, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 10){
                polygon.setAttribute('fill', 'rgba(255, 204, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 5){
                polygon.setAttribute('fill', 'rgba(255, 255, 102, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 2.5){
                polygon.setAttribute('fill', 'rgba(255, 102, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 1){
                polygon.setAttribute('fill', 'rgba(255, 153, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 0){
                polygon.setAttribute('fill', 'rgba(255, 0, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else {
                polygon.setAttribute('fill', 'rgba(204, 0, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
              }
              
            }

            polygon.addEventListener('mouseover', showInfo);
            polygon.addEventListener('mouseout', hideInfo);
            svg.appendChild(polygon);
          }
        });
        
        // Add click event listener to SVG polygons
        svg.addEventListener('click', function(event) {
          if (event.target.tagName === 'polygon') {
            var href = event.target.getAttribute('data-href');
            if (href) {
              window.location.href = href;
            }
          }
        });
      });
    });
    // Show and Hide Functions
    function showInfo(event){
      let county = event.target.attributes.title.nodeValue;
          
      document.getElementById("display").innerHTML = county + " ";

      for (let i = 0; i < finalDict.length; i++){
        if (finalDict[i].key == county){
          document.getElementById("display").innerHTML += finalDict[i].value
        }
      }

      document.querySelector('.hide').style.display = 'block';

    }
    function hideInfo(){
      document.querySelector('.hide').style.display = 'none';
    }