extends layout

block content
  h1= title

  button(type="button" class="btn btn-primary" id="iaButton" onclick="buttonClick('Iowa')") Iowa Map
  button(type="button" class="btn btn-primary" id="moButton" onclick="buttonClick('Missouri')") Missouri Map

  style.
    .imagemap {
      position: relative; 
      display: inline-block; 
      width: 100%; 
      height: auto;
    }
    .imagemap img {
      display: block; 
      width: 50%; 
      height: auto;
    }
    .svg-overlay {
      position: absolute; 
      top: 0; 
      left: 0; 
      width: 110%; 
      height: 107%; 
      pointer-events: none;
    }
    .area {
      stroke-width: 1; 
      pointer-events: all; 
      transition: fill 0.15s ease-in-out, stroke 0.15s ease-in-out;
    }
    .hide{
      display: none;
    }

  //Fill in the src for the state svg
  img(src="https://upload.wikimedia.org/wikipedia/commons/5/59/Blank_Iowa_county_map.svg" alt="Map" usemap="#image-map" width="400" height="300" id="mapImage")

  //Replace id with state map id and fill in the areas as children of the map
  div(class="imagemap" id="mapDiv")
    map(name="image-map" id="imgMap")
      
    div(class="hide" id="display")

  table(class="table table-bordered")
    thead
      tr
        th(scope="col") Key
        th(scope="col") > 30
        th(scope="col") 30 - 20
        th(scope="col") 20 - 10
        th(scope="col") 10 - 5
        th(scope="col") 5 - 2.5
        th(scope="col") 2.5 - 1
        th(scope="col") Less than 1
        th(scope="col") 0
    tbody
      tr
        th(scope="row") Color
        td
          img(src="/images/darkgreen.png", alt="Green Square", height="25", width="25")
        td
          img(src="/images/lightGreen.png", alt="", height="25", width="25")
        td
          img(src="/images/yellow.png", alt="", height="25", width="25")
        td
          img(src="/images/lightYellow.png", alt="", height="25", width="25")
        td
          img(src="/images/darkOrange.png", alt="", height="25", width="25")
        td
          img(src="/images/lightOrangepng.png", alt="", height="25", width="25")
        td
          img(src="/images/red.png", alt="", height="25", width="25")
        td
          img(src="/images/darkRed.png", alt="", height="25", width="25")

  script.
    // Arrays for each state coords
    let iaCoords = ["35,32,114,35,114,42,113,42,113,70,38,68,35,66,36,62,40,62,41,60,41,58,40,55,41,55,41,48,34,42",
    "114,35,165,35,165,73,114,73","165,36,215,36,215,75,165,75","215,37,266,37,266,76,215,76","266,38,317,38,317,127,266,127",
    "317,42,368,42,368,79,317,79","368,40,420,40,420,76,368,76","420,40,470,40,470,83,420,83","470,39,521,39,521,82,470,82",
    "521,39,572,39,572,63,573,63,573,101,523,101,523,84,521,84",
    "572,38,615,38,615,44,613,46,617,49,617,58,616,58,616,59,625,64,630,69,634,74,633,77,626,84,623,92,620,92,620,100,578,100,578,101,573,101,573,63,572,62",
    "620,100,620,108,622,108,623,116,625,117,625,127,630,130,630,134,632,138,632,141,633,141,633,146,635,149,638,150,641,153,645,157,646,159,652,159,652,164,615,164,615,165,576,165,576,166,574,166,574,106,573,106,573,101,578,101,578,100",
    "573,101,522,101,522,167,525,167,525,166,574,166,574,106,573,106","470,82,521,82,521,84,523,84,523,101,522,101,522,127,492,127,492,128,470,128",
    "470,83,420,83,420,128,470,128","368,76,420,76,420,128,380,128,380,127,368,127","368,76,317,76,317,127,368,127",
    "266,76,215,76,215,105,214,105,214,125,234,125,234,126,266,126",
    "215,75,164,75,164,82,163,82,163,116,162,116,162,124,195,124,195,125,214,125,214,105,215,105",
    "165,73,112,73,112,103,111,103,111,122,125,122,125,123,159,123,159,124,162,124,162,116,163,116,163,82,164,82,164,75,165,75",
    "114,70,38,68,36,71,36,74,46,75,46,86,49,88,49,91,47,92,47,97,44,97,43,99,41,99,42,105,38,109,42,113,37,118,37,120,68,120,68,121,97,121,97,122,111,122,111,103,112,103,112,73,114,73",
    "37,120,37,125,34,130,33,130,30,133,30,136,26,139,26,148,27,151,37,160,41,171,53,171,53,172,77,172,77,173,102,173,102,174,109,174,109,162,110,162,110,137,111,137,111,122,97,122,97,121,68,121,68,120",
    "111,122,111,137,110,137,110,162,109,162,109,174,136,174,136,175,161,175,161,154,162,154,162,124,159,124,158,123,125,123,125,122",
    "162,124,162,154,161,154,161,175,167,175,167,176,213,176,213,147,214,147,214,125,195,125,195,124",
    "214,125,214,147,213,147,213,176,219,176,219,177,261,177,261,178,264,178,264,146,265,146,265,126,234,126,234,125",
    "265,127,265,146,264,146,264,165,279,165,279,166,316,166,316,128,316,127","316,127,316,178,321,178,321,179,367,179,367,171,368,171,368,127",
    "368,127,368,171,367,171,367,179,419,179,419,128,380,128,380,127","419,128,419,179,471,179,471,161,470,161,470,128",
    "470,128,492,128,492,127,522,127,522,167,471,167,471,161,470,161",
    "652,158,652,164,626,164,626,191,627,191,627,216,661,216,661,215,678,215,678,202,699,202,689,196,688,192,684,192,680,188,679,186,681,182,679,175,676,173,676,168,670,163,666,162,661,162,661,161,657,161,652,161",
    "699,202,678,202,678,215,661,215,661,216,653,216,653,247,654,247,654,254,676,254,676,253,708,253,708,252,735,252,735,239,730,238,731,235,726,232,719,230,716,227,712,227,706,218,705,211,708,210,702,205",
    "626,164,615,164,615,165,576,165,576,166,574,166,574,192,575,192,575,203,576,203,576,217,582,217,582,216,627,216,627,191,626,191",
    "574,166,525,166,525,167,522,167,522,186,523,186,523,193,525,193,525,217,576,217,576,203,575,203,575,192,574,192",
    "522,167,471,167,471,194,473,194,473,218,487,218,487,217,525,217,525,193,523,193,523,186,522,186",
    "471,179,419,179,419,194,422,194,422,231,447,231,447,218,473,218,473,194,471,194",
    "419,179,367,179,367,193,371,193,371,231,422,231,422,194,419,194",
    "367,179,321,179,320,178,316,178,316,193,320,193,320,230,352,230,352,231,371,231,371,193,367,193",
    "315,166,279,166,279,165,264,165,264,192,269,192,269,217,268,217,268,230,320,230,320,193,316,192,316,166",
    "264,178,261,178,261,177,219,177,219,176,213,176,213,190,219,190,219,192,218,192,218,229,268,229,268,217,269,217,269,192,264,192",
    "213,176,167,176,167,175,161,175,161,189,167,189,167,220,166,220,166,227,185,227,185,228,202,228,202,229,218,229,218,192,219,192,219,190,213,190",
    "161,175,136,175,136,174,122,174,122,188,129,188,129,226,149,226,149,227,166,227,166,220,167,220,167,189,161,189",
    "122,174,102,174,102,173,77,173,77,172,53,172,53,171,41,171,42,173,42,176,39,179,41,183,48,183,51,187,52,190,46,196,48,197,47,200,47,205,52,209,52,213,56,217,56,223,65,223,65,224,84,224,84,225,106,225,106,226,129,226,129,188,122,188",
    "56,223,53,223,53,231,59,237,63,239,63,243,61,243,62,249,68,250,68,252,65,256,65,257,68,256,70,255,70,260,77,260,76,264,76,269,74,269,74,276,101,276,101,277,127,277,127,253,128,253,128,226,105,226,106,225,84,225,84,224,65,224,65,223",
    "128,226,128,253,127,253,127,278,169,278,169,279,191,279,191,257,192,257,192,228,185,228,185,227,149,227,149,226",
    "192,228,192,257,191,257,191,279,201,279,201,280,242,280,242,243,243,243,243,229,202,229,202,228",
    "243,229,243,243,242,243,242,280,251,280,251,281,293,281,293,263,294,263,294,230,268,230,268,229",
    "294,230,294,263,293,263,293,281,317,281,317,282,345,282,345,230",
    "345,230,345,282,397,282,397,231,352,231,352,230",
    "397,231,397,282,448,282,448,231",
    "447,218,447,231,448,231,448,282,500,282,500,261,499,261,499,217,487,217,487,218",
    "499,217,499,261,500,261,500,282,547,282,547,281,551,281,551,269,550,269,550,217",
    "550,217,550,269,551,269,551,281,603,281,603,249,602,249,602,216,582,216,582,217",
    "602,216,602,249,603,249,603,268,624,268,624,267,654,267,654,247,653,247,653,216",
    "654,254,654,288,655,288,655,293,670,293,670,294,672,294,672,297,677,297,677,295,680,293,693,293,694,291,697,291,697,292,701,292,701,291,710,296,720,296,720,294,730,287,735,285,735,277,736,277,736,274,737,274,737,261,738,261,738,254,735,252,708,252,708,253,676,253,676,254",
    "720,296,710,296,701,291,701,292,697,292,697,291,694,291,693,293,680,293,677,295,677,297,672,297,672,294,670,294,670,293,655,293,655,319,665,319,665,318,669,318,669,341,676,341,676,340,683,340,683,339,684,339,692,331,693,330,705,330,714,321,716,321,718,319,718,306,721,302,721,298",
    "603,268,603,320,612,320,612,319,655,319,655,288,654,288,654,267,624,267,624,268",
    "603,281,551,281,551,321,552,321,552,333,586,333,589,334,590,336,587,338,587,340,591,346,603,346",
    "551,281,547,281,547,282,500,282,500,334,547,334,547,333,552,333,552,321,551,321",
    "500,282,448,282,448,322,449,322,449,335,473,335,473,334,500,334",
    "448,282,384,282,384,322,385,322,385,335,449,335,449,322,448,322",
    "384,282,332,282,332,322,334,322,334,334,377,334,381,337,382,337,382,336,384,336,384,338,385,338,385,322,384,322",
    "332,282,317,282,317,281,280,281,280,321,284,321,284,335,327,335,327,334,334,334,334,322,332,322",
    "280,281,251,281,251,280,229,280,229,320,233,320,233,334,284,334,284,321,280,321",
    "229,280,201,280,201,279,190,279,190,319,195,319,195,333,233,333,233,320,229,320",
    "190,279,169,279,169,278,139,278,139,304,138,304,138,317,140,317,140,318,144,318,144,331,162,331,162,332,193,332,193,333,195,333,195,319,190,319",
    "139,278,127,278,127,277,101,277,101,276,74,276,78,279,78,283,83,286,83,287,78,293,78,296,82,299,82,301,76,301,76,306,79,309,76,311,76,316,80,320,78,323,78,325,84,330,88,324,89,324,89,329,102,329,102,330,131,330,131,331,144,331,144,318,140,318,140,317,138,317,138,304,139,304",
    "89,329,86,333,92,336,96,336,98,339,96,345,96,349,96,350,93,352,93,355,96,358,100,358,103,359,103,362,96,365,96,368,97,371,95,372,95,377,96,378,104,378,104,381,120,381,120,382,167,382,167,383,181,383,181,364,182,364,182,332,162,332,162,331,131,331,131,330,102,330,102,329",
    "182,332,182,364,181,364,181,383,199,383,199,384,232,384,232,358,233,358,233,333,193,333,193,332",
    "233,334,233,358,232,358,232,384,242,384,242,385,283,385,283,374,284,374,284,334",
    "284,335,284,374,283,374,283,385,294,385,294,386,329,386,329,385,334,385,334,334,327,334,326,335",
    "334,334,334,385,359,385,359,386,386,386,386,335,385,335,385,338,384,338,384,336,382,336,382,337,381,337,377,334",
    "386,335,386,386,437,386,437,385,436,385,436,335",
    "436,335,436,385,437,385,437,386,479,386,479,385,488,385,488,343,487,343,487,334,473,334,473,335",
    "487,334,487,343,488,343,488,385,540,385,540,373,539,373,539,334",
    "539,334,539,373,540,373,540,385,563,385,563,384,591,384,591,346,587,340,587,338,590,336,589,334,586,333,547,333,547,334",
    "603,346,591,346,591,384,605,384,605,397,631,397,631,396,652,396,653,393,650,388,647,384,646,383,642,383,639,377,634,373,634,370,638,362,638,358,604,358,604,349,603,349",
    "669,318,669,341,660,341,653,346,652,346,648,344,646,344,642,346,640,348,640,352,638,353,638,358,604,358,604,349,603,349,603,320,612,320,612,319,665,319,665,318",
    "652,396,652,409,651,409,651,419,642,430,636,434,636,444,634,446,634,451,635,451,635,452,632,452,632,451,631,451,629,449,624,449,620,444,616,444,616,442,612,442,612,440,609,440,609,439,606,439,606,438,604,438,604,436,605,436,605,417,604,417,604,397,630,397,631,396",
    "605,384,563,384,563,386,566,386,566,414,567,414,567,436,605,436,605,416,604,416,604,397,605,397",
    "563,385,514,385,514,424,544,424,544,423,567,423,567,414,566,414,566,386,563,386",
    "514,385,479,385,479,386,462,386,462,425,469,425,469,424,514,424",
    "462,386,411,386,411,425,462,425",
    "411,386,360,386,360,425,411,425",
    "360,386,359,386,359,385,329,385,329,386,308,386,308,424,360,424",
    "308,386,294,386,294,385,258,385,258,395,257,395,257,423,276,423,276,424,308,424",
    "258,385,242,385,242,384,206,384,206,422,230,422,230,423,257,423,257,395,258,394",
    "206,384,199,384,199,383,167,383,167,382,155,382,155,420,158,420,158,421,192,421,192,422,206,423",
    "155,382,120,382,120,381,100,381,100,385,102,392,98,396,102,399,102,406,105,408,105,419,124,419,124,420,155,420",
    "106,419,107,422,102,425,103,427,103,439,98,441,98,447,102,451,103,454,108,455,111,462,112,467,155,468,155,448,154,448,154,420",
    "154,420,158,420,158,421,192,421,192,422,206,423,206,471,180,471,180,470,158,470,158,469,155,469,155,448,154,448",
    "206,422,206,471,218,471,218,472,245,472,245,473,256,473,256,446,257,446,257,423,230,423,230,422",
    "257,423,257,446,256,446,256,473,308,473,308,424,276,424,276,423",
    "308,424,308,473,360,473,360,424",
    "360,425,360,473,397,473,397,472,411,472,411,425",
    "411,425,411,472,435,472,435,471,463,471,463,425",
    "463,425,463,471,476,471,476,470,505,470,505,469,514,469,514,424,469,424,469,425",
    "514,424,514,469,531,469,531,468,551,468,551,467,566,467,566,423,544,423,544,424",
    "566,436,604,436,604,438,606,438,606,439,609,439,609,440,612,440,612,442,616,442,616,444,620,444,624,449,629,449,632,452,635,452,635,456,628,462,618,462,612,465,607,470,603,476,608,482,608,487,606,489,606,493,607,493,607,500,599,501,593,500,593,497,588,496,588,489,583,489,580,484,577,480,577,477,570,476,570,471,566,468"]

    //Array for counties in each state
    var iaCounties = ["Lyon", "Osceola", "Dickinson", "Emmet","Kossuth","Winnebago","Worth",
    "Mitchell","Howard","Winneshiek","Allamakee","Clayton","Fayette","Chickasaw","Floyd",
    "Cerro Gordo","Hancock","Palo Alto","Clay","O'Brien","Sioux","Plymouth","Cherokee",
    "Buena Vista","Pocahontas","Humboldt","Wright","Franklin","Butler","Bremer","Dubuque",
    "Jackson","Delaware","Buchanan","Black Hawk","Grundy","Hardin","Hamillton","Webster",
    "Calhoun","Sac","Ida","Woodbury","Monona","Crawford","Carroll","Greene","Boone","Story",
    "Marshall","Tama","Benton","Linn","Jones","Clinton","Scott","Cedar","Johnson","Iowa",
    "Poweshiek","Jasper","Polk","Dallas","Guthrie","Audubon","Shelby","Harrison",
    "Pottawattamie","Cass","Adair","Madison","Warren","Marion","Mahaska","Kepkuk",
    "Washington","Louisa","Muscatine","Des Monies","Henry","Jefferson","Wapello",
    "Monroe","Lucas","Clarke","Union","Adams","Montgomery","Mills","Fremont","Page",
    "Taylor","Ringgold","Decatur","Wayne","Appanoose","Davis","Van Buren","Lee"]

    var moCoords = ["102,35,168,38,170,86,127,84,116,63",
    "168,38,233,41,234,108,184,107,181,87,170,86",
    "234,41,279,42,280,71,234,70",
    "236,69,233,122,280,123,280,71",
    "127,85,141,119,165,140,177,145,185,146,189,133,181,86",
    "280,108,332,110,331,42,279,42",
    "331,42,377,42,378,90,332,89",
    "377,42,378,72,437,73,437,79,457,79,456,41",
    "378,72,378,125,437,125,437,73",
    "332,89,331,135,378,135,377,90",
    "455,41,495,41,495,79,455,79",
    "494,40,541,40,541,85,494,85",
    "495,84,541,84,541,137,495,137",
    "437,79,495,79,495,125,437,125",
    "541,92,601,92,601,138,541,138",
    "541,39,566,38,579,48,590,62,603,73,593,92,542,91",
    "601,138,604,142,600,150,610,159,616,177,568,177,568,181,554,181,554,138",
    "502,137,501,191,515,190,514,181,554,181,554,138",
    "437,125,436,176,456,175,456,189,500,189,502,138,495,137,495,126",
    "500,189,500,229,570,229,569,181,514,182,515,190",
    "569,177,617,177,629,190,598,213,602,233,569,231",
    "454,188,453,232,486,243,500,243,500,189",
    "234,122,281,122,281,166,234,166",
    "280,108,331,108,331,161,280,161",
    "377,125,436,125,436,176,377,176",
    "279,160,331,160,331,200,279,200",
    "233,165,278,165,278,210,233,210",
    "331,135,331,188,388,187,388,176,377,176,377,135",
    "388,176,390,214,406,218,406,222,411,225,411,232,425,233,429,248,438,245,444,229,453,233,455,176,455,175",
    "331,187,330,248,337,249,344,242,362,247,364,235,376,246,380,234,406,222,388,212,387,188",
    "184,107,189,142,202,154,234,154,234,109",
    "202,153,174,189,174,197,233,197,234,154",
    "174,197,198,234,205,245,214,251,232,254,233,197",
    "232,210,278,210,277,248,270,243,259,254,247,260,242,256,232,261",
    "278,200,278,247,293,259,321,247,330,248,331,200",
    "231,260,230,301,288,304,290,257,270,243,259,254,247,260,242,256",
    "290,257,289,292,320,293,320,288,361,290,362,247,344,242,337,249,321,247,293,259",
    "362,246,361,289,414,291,413,284,430,267,437,246,429,248,424,233,413,233,406,223,380,234,376,246,364,235",
    "444,229,430,267,427,272,436,284,471,285,486,244",
    "426,272,413,285,412,326,463,328,478,292,470,286,434,283",
    "486,243,523,244,523,271,519,271,517,297,520,309,511,327,510,334,493,328,490,307,470,285",
    "500,229,602,232,605,258,579,258,579,271,523,271,524,244,500,244",
    "630,189,685,245,631,245,631,259,605,258,598,213",
    "685,245,692,288,658,296,657,299,640,298,641,290,632,290,631,281,622,281,622,259,631,259,631,245",
    "579,258,579,324,590,329,604,323,605,304,623,304,622,258",
    "692,288,704,299,715,289,716,284,723,283,759,300,758,306,742,301,736,294,727,306,720,304,708,326,692,326,665,350,658,347,658,296,676,297,677,291",
    "758,306,739,324,734,340,742,349,738,365,732,370,732,360,723,359,724,354,702,354,686,357,686,333,694,326,710,326,720,304,730,304,736,294,742,301",
    "747,317,751,332,742,348,734,339,739,325",
    "686,334,681,398,611,400,611,325,616,323,627,334,643,339,665,350,686,334",
    "622,281,631,281,631,290,641,290,641,299,658,299,658,347,642,338,627,334,616,323,610,325,604,322,605,304,623,304",
    "578,325,590,329,604,322,610,325,611,400,592,399,592,407,578,407",
    "579,271,520,271,520,311,510,336,520,346,534,347,552,332,571,324,578,325",
    "578,325,578,388,513,387,515,375,517,360,534,361,533,347,554,331",
    "513,380,488,379,488,367,478,366,490,321,501,332,511,334,517,345,533,347,534,360,516,360,522,371",
    "478,366,490,320,490,307,478,293,463,329,437,328,438,342,462,366",
    "437,328,411,326,410,390,423,401,446,402,448,398,454,397,455,378,461,378,462,366,438,341",
    "513,387,580,387,580,426,513,426",
    "462,366,461,378,455,378,454,397,476,428,514,428,514,380,488,379,488,367",
    "288,290,359,290,359,346,288,346",
    "361,289,411,289,411,352,361,352",
    "357,351,410,351,410,421,357,421",
    "293,346,357,346,357,399,293,399",
    "228,357,292,357,292,422,228,422",
    "230,301,228,356,292,361,293,344,286,343,287,303",
    "226,421,289,421,289,482,226,482",
    "224,480,287,480,287,526,224,526",
    "289,493,343,493,343,537,289,537",
    "343,458,396,458,396,518,343,518",
    "293,398,357,399,357,442,350,443,349,456,322,455,321,446,291,445",
    "291,445,289,492,343,493,343,456,322,455,321,446",
    "410,420,409,445,395,446,396,458,350,458,350,443,357,441,358,421",
    "410,390,423,401,446,402,454,397,476,428,488,428,488,451,483,457,470,461,463,447,409,445",
    "488,428,534,429,534,490,508,490,507,483,487,474",
    "395,445,435,447,435,508,408,508,408,518,396,518",
    "435,446,435,508,507,510,507,483,487,474,488,452,483,457,470,461,463,447",
    "580,407,593,407,593,463,559,462,560,490,534,490,535,429,542,429,542,425,581,422",
    "592,399,644,400,644,469,638,469,638,475,619,475,619,462,594,463",
    "559,462,619,463,619,476,638,476,637,492,619,491,619,505,631,505,632,518,566,516,566,490,561,490",
    "686,357,703,354,724,354,723,358,732,361,729,388,745,410,725,422,702,429,701,418,681,399",
    "644,399,680,398,698,418,698,469,644,469",
    "697,417,701,417,701,428,725,422,736,431,720,447,752,478,757,473,762,477,758,482,698,483",
    "744,410,781,432,784,434,777,438,782,446,762,478,757,473,752,478,720,447,736,431,725,422",
    "782,446,788,447,793,441,799,444,800,448,806,449,816,457,815,464,823,465,828,470,833,471,838,488,759,489,759,482",
    "711,482,759,482,759,532,711,532",
    "832,489,846,515,845,524,835,530,838,537,818,546,806,558,794,558,793,488",
    "759,489,793,488,794,558,783,559,783,569,765,572,765,565,752,565,751,532,759,531",
    "838,537,859,572,836,596,816,598,806,558,821,545",
    "711,531,751,532,751,565,765,566,765,571,760,572,748,590,696,591,690,573,684,572,685,559,689,554,690,538,712,538",
    "638,469,698,469,698,483,711,483,711,538,687,538,687,523,684,524,684,489,638,491",
    "619,491,684,489,684,524,687,523,689,554,684,573,662,572,662,565,655,565,653,555,643,550,639,541,636,517,632,518,631,504,619,505",
    "655,565,661,565,662,572,690,572,699,608,631,607,632,567",
    "631,597,579,597,579,518,636,518,639,543,643,550,653,555,655,565,631,567",
    "507,490,566,490,566,516,579,518,579,574,507,572",
    "407,508,455,508,455,569,407,569",
    "454,509,507,509,507,572,454,572",
    "428,571,526,571,526,611,428,611",
    "223,524,290,524,290,572,223,572",
    "290,536,343,536,343,591,290,591",
    "343,517,408,517,408,567,343,567",
    "343,565,343,581,376,581,375,609,428,609,428,569,427,569",
    "222,571,288,571,288,616,222,616",
    "221,615,287,615,287,655,221,655",
    "379,609,445,609,445,657,379,657",
    "289,590,342,592,342,608,348,608,345,656,286,655",
    "343,581,376,581,375,609,379,609,379,656,345,655,348,608,343,607",
    "445,611,523,611,523,657,445,657",
    "526,572,578,572,578,657,526,657",
    "578,597,631,597,631,607,644,607,643,656,579,657",
    "644,607,703,607,704,628,709,627,709,640,711,654,644,655",
    "696,591,748,590,763,632,754,654,711,655,708,627,704,627,703,607,699,607,698,597",
    "783,559,806,558,816,598,816,632,763,633,748,589,760,572,778,571,783,569",
    "861,564,869,565,875,572,875,578,884,576,887,579,886,609,874,640,868,640,836,596,859,572",
    "816,598,836,596,861,631,856,632,849,655,844,658,843,652,845,645,842,639,832,640,834,649,838,656,836,662,841,668,836,676,828,664,813,663,811,670,785,670,785,633,816,632",
    "785,669,788,728,818,727,822,712,831,708,831,702,817,692,818,689,838,688,838,684,827,678,836,675,828,665,822,667,813,663,811,670",
    "762,633,785,633,787,727,736,730,746,711,754,707,754,701,768,687,773,683,771,668,763,665,761,654,754,654"]

    var moCounties = ["Atchison","Nodaway","Worth","Gentry","Holt","Harrison","Mercer","Putnam",
    "Sullivan","Grundy","Schuyler","Scotland","Knox","Adair","Lewis","Clark","Marion","Shelby",
    "Macon","Monrow","Ralls","Randolph","DeKalb","Daviess","Linn","Caldwell","Clinton",
    "Livingston","Chariton","Carroll","Andrew","Buchanan","Platte","Clay","Ray","Jackson",
    "Lafayette","Saline","Howard","Cooper","Boone","Audrain","Pike","Lincoln","Montgomery",
    "St. Charles","St. Louis","St. Louis City","Franklin","Warren","Gasconade","Callaway",
    "Osage","Cole","Moniteau","Morgan","Maries","Miller","Johnson","Pettis","Benton","Henry",
    "Bates","Cass","Vernon","Barton","Dade","Polk","St. Clair","Cedar","Hickory","Camden",
    "Pulaski","Dallas","Laclede","Phelps","Crawford","Dent","Jefferson","Washington",
    "St. Francois","Ste. Genevieve","Perry","Madison","Cape Girardeau","Bollinger","Scott",
    "Wayne","Iron","Reynolds","Carter","Shannon","Texas","Webster","Wright","Douglas","Jasper",
    "Lawerence","Greene","Christian","Newton","McDonald","Taney","Barry","Stone","Ozark",
    "Howell","Oregon","Ripley","Butler","Stoddard","Mississippi","New Mardrid","Pemiscot","Dunklin"]

    var finalDict = {}

    // Creating arrays for each attribute from the CSV
    var countyText = "#{Counties}";
    var countyArray = countyText.split(",");

    var stateText = "#{States}";
    var stateArray = stateText.split(",");

    var tdtText = "#{TDT}";
    var tdtArray = tdtText.split(",");

    var parentElement = document.getElementById("imgMap");

    var mapCreated = false

    function buttonClick(button){
      var state;
      var parentElement = document.getElementById("imgMap");
      var mapDiv = document.getElementById("mapDiv");
      var svg = document.getElementById("svgID");

      if (parentElement == null){
        var newMap = document.createElement("map");
        newMap.name = "image-map";
        newMap.id = "imgMap";
        mapDiv.appendChild(newMap);
        parentElement = document.getElementById("imgMap")
        
        //Trying to clear children realized the children are in the svg find a way to clear those 
      }

      if (button == "Missouri"){
        var mapImage = document.createElement("img")
        mapImage.src = "https://upload.wikimedia.org/wikipedia/commons/e/ee/Blank_map_of_Missouri_with_counties.svg";
        mapImage.usemap = "#image-map"
        mapImage.height = "400"
        mapImage.width = "300"
        mapImage.id = "mapImage"
        state = button;

        for (let i = 0; i < moCoords.length; i++){
          var area = document.createElement("area");
          area.shape = "poly";
          area.coords = moCoords[i];
          area.title = moCounties[i];
          area.id = moCounties[i];
          parentElement.appendChild(area);
        }

        var testCounties = [];
        var testCountiesTDT = [];

        for (let s = 0; s< stateArray.length; s++){
          if (stateArray[s] == state){
            testCounties.push(countyArray[s]);
            testCountiesTDT.push(tdtArray[s]);
          }
        }
        finalDict = toDict(testCounties, testCountiesTDT);

        console.log(finalDict)

        mapCreated = true

        updateCounties();
      }
      if (button == "Iowa"){
        var mapImage = document.createElement("img")
        mapImage.src = "https://upload.wikimedia.org/wikipedia/commons/5/59/Blank_Iowa_county_map.svg";
        mapImage.usemap = "#image-map"
        mapImage.height = "400"
        mapImage.width = "300"
        mapImage.id = "mapImage"
        state = button;

        for (let i = 0; i < iaCoords.length; i++){
          var area = document.createElement("area");
          area.shape = "poly";
          area.coords = iaCoords[i];
          area.title = iaCounties[i];
          area.id = iaCounties[i];
          parentElement.appendChild(area);
        }

        var testCounties = [];
        var testCountiesTDT = [];

        for (let s = 0; s< stateArray.length; s++){
          if (stateArray[s] == state){
            testCounties.push(countyArray[s]);
            testCountiesTDT.push(tdtArray[s]);
          }
        }
        finalDict = toDict(testCounties, testCountiesTDT);

        console.log(finalDict)

        updateCounties();
      }
    }

    function toDict(keys, values){
      var returnDict = []
      for (let i = 0; i < keys.length; i++){
        returnDict.push({key: keys[i], value: values[i]});
      }
      return returnDict;
    }

    //Put the hide and show functions in update counties to see if that is what is causing the numbers to not show with the map

    function updateCounties(){
      // Show and Hide Functions
      function showInfo(event){
        let county = event.target.attributes.title.nodeValue;
          
        document.getElementById("display").innerHTML = county + " ";

        for (let i = 0; i < finalDict.length; i++){
          if (finalDict[i].key == county){
            document.getElementById("display").innerHTML += finalDict[i].value
          }
        }
        document.querySelector('.hide').style.display = 'block';
      }

      function hideInfo(){
        document.querySelector('.hide').style.display = 'none';
      }

      // Event Listener for hover of each area
      var images = document.querySelectorAll('img[usemap]');
      images.forEach(function(image) {
        var mapid = image.getAttribute('usemap').substr(1);
        var imagewidth = image.naturalWidth;
        var imageheight = image.naturalHeight;
        var imagemap = document.querySelector('map[name="'+mapid+'"]');
        var areas = imagemap.querySelectorAll('area');
        image.removeAttribute('usemap');
        imagemap.remove();
        
        // create wrapper container
        var wrapper = document.createElement('div');
        wrapper.classList.add('imagemap');
        wrapper.id = "mapDiv"
        image.parentNode.insertBefore(wrapper, image);
        wrapper.appendChild(image);
          
        // create SVG overlay
        var svg = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
        svg.setAttribute('viewBox', `0 0 ${imagewidth} ${imageheight}`);
        svg.setAttribute('class', 'svg-overlay');
        svg.setAttribute('id', "svgID")
        wrapper.appendChild(svg);
          
        areas.forEach(function(area) {
          var coords = area.getAttribute('coords').split(',').map(Number);
          if (area.getAttribute('shape') === 'poly') {
            var pointsAttr = '';
            for (let i = 0; i < coords.length; i += 2) {
              var x = coords[i];
              var y = coords[i + 1] - 1;
              pointsAttr += `${x},${y} `;
            }
            var polygon = document.createElementNS('http://www.w3.org/2000/svg', 'polygon');
            polygon.setAttribute('points', pointsAttr.trim());
            polygon.setAttribute('class', 'area');
            polygon.setAttribute('data-href', area.getAttribute('href'));
            polygon.setAttribute('title', area.getAttribute('title'));

            for (let i = 0; i < finalDict.length; i++){
              if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 30){
                polygon.setAttribute('fill', 'rgba(38, 106, 46, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 20){
                polygon.setAttribute('fill', 'rgba(153, 204, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 10){
                polygon.setAttribute('fill', 'rgba(255, 204, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 5){
                polygon.setAttribute('fill', 'rgba(255, 255, 102, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 2.5){
                polygon.setAttribute('fill', 'rgba(255, 102, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 1){
                polygon.setAttribute('fill', 'rgba(255, 153, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;
              }
              else if (finalDict[i].key === area.getAttribute('title') && finalDict[i].value > 0){
                polygon.setAttribute('fill', 'rgba(255, 0, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
                break;S
              }
              else {
                polygon.setAttribute('fill', 'rgba(204, 0, 0, 1)');
                polygon.setAttribute('stroke', 'rgba(0, 0, 0, 1)');
              }
                
            }

            polygon.addEventListener('mouseover', showInfo);
            polygon.addEventListener('mouseout', hideInfo);
            svg.appendChild(polygon);
          }
        });
          
        // Add click event listener to SVG polygons
        svg.addEventListener('click', function(event) {
          if (event.target.tagName === 'polygon') {
            var href = event.target.getAttribute('data-href');
            if (href) {
              window.location.href = href;
            }
          }
        });
      });
    }